Repository qbittorrent/qBittorrent, pull requests merged in 2018-06, with the labels that each got.

#9009 Add logging messages in WebUI login action
  src/webui/api/authcontroller.cpp
Labels: WebAPI

#9013 More restrictive Content Security Policy
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/preferences_content.html
Labels: WebUI

#9008 Add changelog URL link in updater
  src/gui/mainwindow.cpp
Labels: GUI

#9027 Send Cache-Control header in WebUI responses
  src/base/http/types.h
  src/webui/webapplication.cpp
  src/webui/webui.qrc
  src/webui/www/public/css/login.css
  src/webui/www/public/login.html
Labels: WebUI

#9053 Disable certain mouse wheel events in Options dialog
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/optionsdlg.cpp
  src/gui/optionsdlg.h
Labels: GUI

#9073 Replace deprecated function on macOS
  src/gui/powermanagement/powermanagement.cpp
Labels: Mac OS X

#9066 Show current save path in 'Set location' window
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/setlocation.html
Labels: WebUI

#9059 Add WebUI support for Mac ⌘ (Command) key
  src/webui/www/private/scripts/dynamicTable.js
Labels: Mac OS X, WebUI

#9069 Create non-existing path in setLocationAction()
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/setlocation.html
Labels: WebAPI
