Repository qbittorrent/qBittorrent, pull requests merged in 2018-02, with the labels that each got.

#8349 Improve stats dialog
  src/base/bittorrent/session.cpp
  src/gui/statsdialog.cpp
  src/gui/statsdialog.ui
Labels: Core, GUI

#5287 Implement Smart Filter
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloader.h
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_autodownloadrule.h
  src/gui/optionsdlg.cpp
  src/gui/optionsdlg.ui
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.h
  src/gui/rss/automatedrssdownloader.ui
Labels: RSS

#8228 WebUI Save user's resized windows
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#8134 Add option to show/hide webui status bar
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
Labels: WebUI

#8438 Add "Use proxy only for torrents" option to webui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/preferences_content.html
Labels: WebUI

#8445 Fix POST params handling. Closes #8443
  src/base/http/requestparser.cpp
  src/webui/api/torrentscontroller.cpp
Labels: WebUI

#8424 Disable Auto TMM when RSS rule has save path. Closes #8411
  src/base/rss/rss_autodownloader.cpp
Labels: RSS

#8479 Fix possible crash when using both share limits
  src/base/bittorrent/session.cpp
Labels: Crashes

#7894 Disable options when Force Proxy is enabled
  src/gui/optionsdlg.cpp
  src/gui/optionsdlg.h
  src/gui/optionsdlg.ui
  src/webui/www/private/preferences_content.html
Labels: GUI, WebUI

#8218 Reselect webui torrents after full_update. Temporary fix for #8209.
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI
