Repository qbittorrent/qBittorrent, pull requests merged in 2018-04, with the labels that each got.

#8640 Clarify braces usages in CODING_GUIDELINES
  CODING_GUIDELINES.md
Labels: Project management

#8715 Fix setting preferences via WebAPI. Closes #7335
  src/webui/api/appcontroller.cpp
Labels: WebUI

#8622 Unify coding style for WebUI files
  src/webui/www/.jsbeautifyrc
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/css/Core.css
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/Tabs.css
  src/webui/www/private/css/Window.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/filters.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/preferences.html
  src/webui/www/private/preferences_content.html
  src/webui/www/private/properties.html
  src/webui/www/private/properties_content.html
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/transferlist.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/public/css/style.css
  src/webui/www/public/login.html
Labels: WebUI

#8721 Fix wrong QString::arg() usage that leads to crash
  src/base/net/proxyconfigurationmanager.cpp
Labels: Hotfix

#8598 WebUI Add Limit Share Ratio context menu option
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
  src/webui/api/synccontroller.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/webui.qrc
  src/webui/www/private/index.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/transferlist.html
Labels: WebUI

#8767 Fix pauseAll/resumeAll legacy API methods. Closes #8766
  src/webui/webapplication.cpp
Labels: Hotfix, WebUI

#8748 Clarify header inclusion order
  CODING_GUIDELINES.md
Labels: Project management
