Repository qbittorrent/qBittorrent, pull requests merged in 2018-03, with the labels that each got.

#8455 Fix loading very large torrents. Closes #8449
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/torrentinfo.h
Labels: Core

#8441 Revert back to QLineEdit for "Run external program". Closes #7800.
  src/gui/optionsdlg.cpp
  src/gui/optionsdlg.ui
Labels: GUI

#8515 Fix Legacy Web API to be fully available
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: Hotfix, WebUI

#8427 Rewrite RequestParser
  src/base/http/connection.cpp
  src/base/http/connection.h
  src/base/http/requestparser.cpp
  src/base/http/requestparser.h
  src/base/http/types.h
Labels: Core

#8374 Add Coding Style rules for commit messages
  CODING_GUIDELINES.md
Labels: Project management

#8484 Improve WebUI stats dialog (addendum to #8349)
  src/webui/api/synccontroller.cpp
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/statistics.html
Labels: WebUI

#8547 Fix broken WebUI
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#8525 Parse URL query string at application level
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/bittorrent/tracker.cpp
  src/base/bittorrent/tracker.h
  src/base/http/requestparser.cpp
  src/base/http/types.h
  src/base/utils/bytearray.cpp
  src/base/utils/bytearray.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: Core, WebUI

#8403 Make WebUI iframe windows scrollable on iOS. Closes #8401, #7932.
  src/webui/www/private/css/Window.css
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#8313 Calculate search categories based on selected plugin
  src/base/search/searchpluginmanager.cpp
  src/base/search/searchpluginmanager.h
  src/gui/search/searchwidget.cpp
Labels: GUI, Search engines

#8488 Move suffix-labels inside the corresponding spinboxes
  src/gui/optionsdlg.ui
Labels: GUI

#8494 Fix for "Content" panel messed up
  src/gui/torrentcontenttreeview.cpp
Labels: GUI

#8597 Use correct API method URL in WebUI
  src/webui/www/private/uploadlimit.html
Labels: WebUI

#8594 Properly align text label
  src/gui/optionsdlg.ui
Labels: GUI

#8595 Add Tags parameter to "Run External Program"
  src/app/application.cpp
  src/app/application.h
  src/gui/optionsdlg.cpp
  src/webui/www/private/preferences_content.html
Labels: Core, GUI

#8607 Process loaded RSS articles in case of parsing error
  src/base/rss/private/rss_parser.cpp
  src/base/rss/private/rss_parser.h
  src/base/rss/rss_feed.cpp
Labels: RSS

#8618 Remove unused CSS from WebUI login page
  src/webui/www/public/css/style.css
  src/webui/www/public/login.html
Labels: WebUI

#8621 Update WebUI to be more compliant with HTML5 standard
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/filters.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/preferences.html
  src/webui/www/private/preferences_content.html
  src/webui/www/private/properties_content.html
  src/webui/www/private/rename.html
  src/webui/www/private/setlocation.html
  src/webui/www/private/transferlist.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/public/login.html
Labels: WebUI

#8629 Extend Coding Guidelines to cover other languages
  CODING_GUIDELINES.md
Labels: Project management
