Repository qbittorrent/qBittorrent, pull requests merged in 2018-11, with the labels that each got.

#9562 Improve scaling of speed graphs
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/properties/speedplotview.cpp
  src/gui/search/searchjobwidget.cpp
Labels: GUI

#9800 Fix compiler warnings
  src/webui/api/searchcontroller.cpp
Labels: Code cleanup

#9804 Fix defects in search engine
  src/base/search/searchpluginmanager.cpp
  src/searchengine/nova/helpers.py
  src/searchengine/nova/nova2.py
  src/searchengine/nova/nova2dl.py
  src/searchengine/nova/novaprinter.py
  src/searchengine/nova3/helpers.py
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/nova2dl.py
Labels: Hotfix, Search engine

#9580 Improve handling of torrent startup/recheck
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
Labels: Core

#9817 Handle downloading .torrent file as success
  src/base/bittorrent/session.cpp
Labels: Core

#9815 Fix speed graph "high speeds" bug. Closes #9807
  src/gui/properties/speedplotview.cpp
Labels: GUI, Hotfix

#9799 Remove speed limit checkbox in Options dialog
  src/base/bittorrent/session.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/gui/properties/peerlistwidget.cpp
  src/gui/speedlimitdialog.cpp
  src/gui/speedlimitdialog.h
  src/gui/speedlimitdialog.ui
  src/gui/statusbar.cpp
  src/webui/api/appcontroller.cpp
  src/webui/www/private/preferences_content.html
Labels: GUI, WebUI

#9509 cmake: use C++14 when available
  src/CMakeLists.txt
Labels: Build system

#9822 Don't double delete a pointer
  src/gui/mainwindow.cpp
Labels: GUI

#9832 Allow qBt to resize the search filter in search job
  src/gui/search/searchjobwidget.cpp
Labels: Look and Feel

#9844 Improve RSS Feed updating. Closes #9833
  src/base/rss/private/rss_parser.cpp
  src/base/rss/rss_article.cpp
  src/base/rss/rss_feed.cpp
  src/base/rss/rss_feed.h
Labels: RSS

#9858 Clamp values properly
  src/gui/properties/propertieswidget.cpp
  src/webui/api/torrentscontroller.cpp
Labels: Crash

#9835 Implement proper C++11 mode detection
  .travis.yml
  configure
  configure.ac
  src/src.pro
Labels: Build system

#9820 Show icon in WebUI sorted column
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#9859 Add option for WebUI Host header validation
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/preferences_content.html
Labels: WebUI

#9884 Add SameSite attribute to WebUI session cookie
  src/webui/webapplication.cpp
Labels: Security issue, WebUI

#9891 Fix missing words in WebUI
  src/webui/webapplication.cpp
Labels: Hotfix, WebUI

#9869 Fix WebUI bug on override of Start Torrent option
  src/webui/www/private/download.html
  src/webui/www/private/upload.html
Labels: WebUI

#9889 Only instantiate SearchPluginManager as needed
  src/app/application.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/search/searchpluginmanager.h
Labels: Search engine

#9919 Show ellipsis when WebUI sidebar is too narrow
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
Labels: WebUI

#9883 Save torrents queue in separate file
  src/base/bittorrent/private/resumedatasavingmanager.cpp
  src/base/bittorrent/private/resumedatasavingmanager.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/rss/rss_feed.cpp
Labels: Core

#9892 Code cleanup
  src/base/bittorrent/torrenthandle.cpp
  src/gui/torrentcontentmodelfolder.cpp
  src/gui/torrentcontentmodelitem.cpp
Labels: Code cleanup, GUI
