Repository qbittorrent/qBittorrent, pull requests merged in 2018-05, with the labels that each got.

#8347 New CONTRIBUTING.md, based on the old one, Atom's and uBlock Origin's
  CONTRIBUTING.md
Labels: Project management

#8825 Add RSS/Log widgets to the QTabWidget on macOS
  src/gui/mainwindow.cpp
Labels: GUI, Hotfix, Mac OS X

#8855 Fix wrong API method names. Closes #8828
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/transferlist.html
Labels: Hotfix, WebUI

#8904 Fix compilation with MinGW
  src/base/bittorrent/session.cpp
Labels: Hotfix, Windows

#8716 Move and recheck progress
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/gui/torrentmodel.cpp
  src/gui/transferlistdelegate.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/synccontroller.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/scripts/dynamicTable.js
Labels: Core

#8906 Fix WebUI bugs
  src/webui/webapplication.cpp
  src/webui/www/private/scripts/mocha-init.js
Labels: Hotfix, WebAPI, WebUI

#8895 Apply locale changes immediately in WebUI
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebUI

#8922 Add option to remember last used save path. Closes #7323
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
Labels: GUI

#8939 Properly fill UploadedFile::filename field when parse HTTP request. Closes #8928
  src/base/http/requestparser.cpp
Labels: Hotfix

#8932 Properly set RSS settings via API. Closes #8925
  src/webui/api/appcontroller.cpp
Labels: Hotfix, RSS, WebAPI

#8948 Add last used save path to the front of history. Fixes #8922
  src/gui/addnewtorrentdialog.cpp
Labels: Hotfix

#8945 Improve code of RSS auto-downloading rule. Closes #8933
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_autodownloadrule.h
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.ui
Labels: RSS

#8955 Rename torrent if content was initially renamed. Closes #8910
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/torrentinfo.h
Labels: Core

#8908 Update Windows icons
  src/qbittorrent.ico
  src/qbittorrent_file.ico
Labels: GUI, Windows

#8966 Use RSS feed update time as a fallback. Closes #8959
  src/base/rss/rss_article.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_feed.cpp
Labels: RSS

#8979 Fix compilation without D-Bus support
  src/base/utils/misc.cpp
Labels: Easy to fix, Hotfix

#8868 Fix GUI scaling factor on macOS
  src/gui/about_imp.h
  src/gui/mainwindow.cpp
  src/gui/utils.cpp
  src/gui/utils.h
  src/icons.qrc
  src/icons/skin/qbittorrent16.png
  src/webui/www/private/index.html
  src/webui/www/public/login.html
Labels: GUI, Mac OS X

#8995 Bump Web API version
  src/webui/webapplication.h
Labels: WebAPI

#8976 Don't use RSS feed URLs as base for file names. Closes #8399
  src/base/rss/rss_feed.cpp
  src/base/rss/rss_feed.h
  src/base/rss/rss_session.cpp
  src/base/rss/rss_session.h
Labels: RSS

#9001 Improve WebUI security measures
  src/webui/webapplication.cpp
Labels: WebUI
