Repository qbittorrent/qBittorrent, pull requests merged in 2018-12, with the labels that each got.

#9938 Fix translation issues
  src/base/net/geoipmanager.cpp
  src/gui/optionsdialog.cpp
  src/gui/search/searchlistdelegate.cpp
  src/gui/search/searchlistdelegate.h
Labels: Accessibility, GUI

#9907 Autotools: Better C++ mode detection and handling
  configure
  configure.ac
  m4/qbittorrent.m4
Labels: Build system, OS: Linux, OS: Mac OS X

#9967 Save option to start minimized in Mac
  src/gui/optionsdialog.cpp
Labels: GUI, OS: Mac OS X

#9373 Add checking_mem_usage option to AdvancedSettings
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
Labels: Core, GUI

#9752 Add missing Preferences to WebUI
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/css/style.css
  src/webui/www/private/download.html
  src/webui/www/private/preferences_content.html
  src/webui/www/private/scripts/download.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
Labels: WebAPI, WebUI

#9976 Fix JavaScript error
  src/webui/www/private/properties_content.html
Labels: WebUI

#9980 Add OpenSSL version to GUI & stackdump
  src/app/stacktracedialog.h
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/aboutdialog.h
  src/gui/aboutdialog.ui
Labels: GUI

#9758 Add Search feature to WebUI
  src/webui/www/private/css/style.css
  src/webui/www/private/download.html
  src/webui/www/private/index.html
  src/webui/www/private/installsearchplugin.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/search.html
  src/webui/www/private/searchplugins.html
  src/webui/www/webui.qrc
Labels: WebUI

#9940 Show error message when Session failed to start
  src/app/application.cpp
  src/base/asyncfilestorage.cpp
  src/base/asyncfilestorage.h
  src/base/bittorrent/session.cpp
  src/base/exceptions.cpp
  src/base/exceptions.h
Labels: Core

#9982 Fix TravisCI linux builds
  .travis.yml
  conf.pri.in
  configure
  configure.ac
  src/base/net/geoipmanager.cpp
  src/base/utils/password.cpp
Labels: Build system, Code cleanup

#9986 Match WebUI Peers table column order to GUI
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#9981 Add torrent name filtering to WebUI
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#9992 Make file icon look like other macOS icons
  dist/mac/qBitTorrentDocument.icns
Labels: Look and Feel, OS: Mac OS X

#10002 Upgrade TravisCI to xenial
  .travis.yml
Labels: Build system

#9988 Keep track of REPACK/PROPER downloads
  src/base/rss/rss_autodownloadrule.cpp
Labels: RSS

#9979 Unify translation files loading action
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/translations/webui_en.ts
Labels: WebUI

#9959 Use Javascript strict mode
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/filters.html
  src/webui/www/private/installsearchplugin.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/preferences.html
  src/webui/www/private/preferences_content.html
  src/webui/www/private/properties_content.html
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/search.html
  src/webui/www/private/searchplugins.html
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/transferlist.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/public/login.html
Labels: Code cleanup

#10023 Change qbt exit message to HTML5
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#10037 Enforce C++14 requirement
  configure
  configure.ac
  m4/qbittorrent.m4
  macxconf.pri
  unixconf.pri
Labels: Build system

#10024 Mark constructors as explicit
  src/app/cmdoptions.cpp
  src/app/cmdoptions.h
  src/base/bittorrent/infohash.cpp
  src/base/bittorrent/infohash.h
  src/base/bittorrent/private/statistics.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.h
  src/base/bittorrent/trackerentry.cpp
  src/base/bittorrent/trackerentry.h
  src/base/net/private/geoipdatabase.h
  src/base/private/profile_p.h
  src/base/rss/rss_feed.cpp
  src/base/settingsstorage.cpp
  src/base/torrentfileguard.h
  src/gui/properties/proplistdelegate.h
  src/gui/properties/speedwidget.h
  src/gui/properties/trackerlistwidget.h
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/torrentcontentmodelfolder.h
  src/gui/torrentcontentmodelitem.h
Labels: Code cleanup

#10076 Prevent flickering preview dialog
  src/gui/previewselectdialog.cpp
  src/gui/previewselectdialog.h
  src/gui/transferlistwidget.cpp
Labels: Code cleanup, GUI

#10027 Compile translations at build time
  qbittorrent.pro
  src/app/main.cpp
  src/lang/lang.pri
  src/src.pro
  src/webui/webui.pri
Labels: Build system
