Repository qbittorrent/qBittorrent, pull requests merged in 2018-07, with the labels that each got.

#9125 Implement "Sequential downloading" feature. Closes #6835
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrentinfo.cpp
  src/base/net/dnsupdater.cpp
  src/base/net/downloadhandler.cpp
  src/base/net/downloadhandler.h
  src/base/net/downloadmanager.cpp
  src/base/net/downloadmanager.h
  src/base/net/geoipmanager.cpp
  src/base/rss/rss_feed.cpp
  src/base/search/searchpluginmanager.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/mainwindow.cpp
  src/gui/programupdater.cpp
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/properties/trackersadditiondialog.h
  src/gui/search/pluginselectdialog.cpp
  src/gui/transferlistfilterswidget.cpp
Labels: Feature, Network, RSS

#9161 Revise resume data save interval
  src/base/bittorrent/session.cpp
  src/gui/aboutdialog.ui
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/optionsdialog.ui
Labels: Core

#9180 Save resume data on torrent change events. Closes #9174
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
Labels: Core

#9186 Apply proxy settings on DownloadManager creation
  src/base/net/downloadmanager.cpp
Labels: Hotfix, Network

#9187 Download favicon using appropriate protocol
  src/gui/transferlistfilterswidget.cpp
Labels: GUI, Hotfix, Network

#9185 Cache more preference values in WebApplication
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebUI

#9210 Add options in AddNewTorrentDialog
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
Labels: GUI

#9202 Add a TOC in the coding guidelines
  CODING_GUIDELINES.md
Labels: Project management

#9229 Add WebUI Force Reannounce option
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/www/private/index.html
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/transferlist.html
Labels: WebAPI, WebUI

#9257 Avoid potentially setting the wrong piece priorities
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/base/torrentfilter.cpp
  src/base/torrentfilter.h
Labels: Core
