Repository qbittorrent/qBittorrent, pull requests merged in 2019-02, with the labels that each got.

#10190 Fix direction of Web UI sorted column icon
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/scripts/download.js
Labels: WebUI

#10175 Load WebUI certificate & key from file path
  src/app/CMakeLists.txt
  src/app/app.pri
  src/app/main.cpp
  src/app/upgrade.cpp
  src/app/upgrade.h
  src/base/http/server.cpp
  src/base/http/server.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/net.cpp
  src/base/utils/net.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webui.cpp
  src/webui/www/private/preferences_content.html
Labels: GUI, WebUI

#10243 Close context menu when torrent content model is reset. Closes #9522
  src/gui/properties/propertieswidget.cpp
Labels: GUI

#10227 Prevent login credential appearing in URL
  src/base/http/connection.cpp
  src/webui/www/private/css/noscript.css
  src/webui/www/private/index.html
  src/webui/www/public/css/noscript.css
  src/webui/www/public/login.html
  src/webui/www/public/scripts/lib/mootools-1.2-core-yc.js
  src/webui/www/public/scripts/login.js
  src/webui/www/webui.qrc
Labels: Code cleanup, WebUI

#10242 Force recheck multiple torrents one by one. Closes #9120
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
Labels: Core

#10266 Force recheck multiple torrents one by one
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
Labels: Core

#10272 Prevent login credential appearing in URL (for v4_1_x branch)
  src/base/http/connection.cpp
  src/webui/www/private/css/noscript.css
  src/webui/www/private/index.html
  src/webui/www/public/css/noscript.css
  src/webui/www/public/login.html
  src/webui/www/webui.qrc
Labels: WebUI

#10289 Update .travis.yml
  .travis.yml
Labels: Build system

#10291 Fix crash due to network redirections
  src/base/net/downloadhandler.cpp
  src/base/net/downloadhandler.h
  src/base/net/downloadmanager.cpp
  src/base/net/downloadmanager.h
Labels: Network

#10318 Convert to use private pointer for ui object
  src/app/stacktracedialog.h
  src/gui/aboutdialog.h
  src/gui/deletionconfirmationdialog.h
  src/gui/previewselectdialog.cpp
  src/gui/previewselectdialog.h
  src/gui/previewselectdialog.ui
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: Code cleanup
