Repository qbittorrent/qBittorrent, pull requests merged in 2019-12, with the labels that each got.

#11538 Log "RSS Feed successfully downloaded" event
  src/base/rss/rss_feed.cpp
Labels: RSS

#11539 Enforce min Windows version in NSIS installer
  dist/windows/installer-translations/afrikaans.nsi
  dist/windows/installer-translations/albanian.nsi
  dist/windows/installer-translations/arabic.nsi
  dist/windows/installer-translations/basque.nsi
  dist/windows/installer-translations/belarusian.nsi
  dist/windows/installer-translations/bosnian.nsi
  dist/windows/installer-translations/breton.nsi
  dist/windows/installer-translations/bulgarian.nsi
  dist/windows/installer-translations/catalan.nsi
  dist/windows/installer-translations/croatian.nsi
  dist/windows/installer-translations/czech.nsi
  dist/windows/installer-translations/danish.nsi
  dist/windows/installer-translations/dutch.nsi
  dist/windows/installer-translations/english.nsi
  dist/windows/installer-translations/esperanto.nsi
  dist/windows/installer-translations/estonian.nsi
  dist/windows/installer-translations/farsi.nsi
  dist/windows/installer-translations/finnish.nsi
  dist/windows/installer-translations/french.nsi
  dist/windows/installer-translations/galician.nsi
  dist/windows/installer-translations/german.nsi
  dist/windows/installer-translations/greek.nsi
  dist/windows/installer-translations/hebrew.nsi
  dist/windows/installer-translations/hungarian.nsi
  dist/windows/installer-translations/icelandic.nsi
  dist/windows/installer-translations/indonesian.nsi
  dist/windows/installer-translations/irish.nsi
  dist/windows/installer-translations/italian.nsi
  dist/windows/installer-translations/japanese.nsi
  dist/windows/installer-translations/korean.nsi
  dist/windows/installer-translations/kurdish.nsi
  dist/windows/installer-translations/latvian.nsi
  dist/windows/installer-translations/lithuanian.nsi
  dist/windows/installer-translations/luxembourgish.nsi
  dist/windows/installer-translations/macedonian.nsi
  dist/windows/installer-translations/malay.nsi
  dist/windows/installer-translations/mongolian.nsi
  dist/windows/installer-translations/norwegian.nsi
  dist/windows/installer-translations/norwegiannynorsk.nsi
  dist/windows/installer-translations/polish.nsi
  dist/windows/installer-translations/portuguese.nsi
  dist/windows/installer-translations/portugueseBR.nsi
  dist/windows/installer-translations/romanian.nsi
  dist/windows/installer-translations/russian.nsi
  dist/windows/installer-translations/serbian.nsi
  dist/windows/installer-translations/serbianlatin.nsi
  dist/windows/installer-translations/simpchinese.nsi
  dist/windows/installer-translations/slovak.nsi
  dist/windows/installer-translations/slovenian.nsi
  dist/windows/installer-translations/spanish.nsi
  dist/windows/installer-translations/spanishinternational.nsi
  dist/windows/installer-translations/swedish.nsi
  dist/windows/installer-translations/thai.nsi
  dist/windows/installer-translations/tradchinese.nsi
  dist/windows/installer-translations/turkish.nsi
  dist/windows/installer-translations/ukrainian.nsi
  dist/windows/installer-translations/uzbek.nsi
  dist/windows/installer-translations/welsh.nsi
  dist/windows/installer.nsi
  dist/windows/options.nsi
Labels: OS: Windows

#11543 Expand single-item folders in torrent content
  src/gui/addnewtorrentdialog.cpp
  src/gui/properties/propertieswidget.cpp
Labels: GUI

#11521 Fix stuck in wrong torrent state
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/gui/transferlistdelegate.cpp
  src/gui/transferlistmodel.cpp
Labels: Core, GUI

#11568 Fix inconsistent icon for deleting torrent
  src/gui/transferlistwidget.cpp
Labels: GUI

#11557 Update russian.nsi
  dist/windows/installer-translations/russian.nsi
Labels: Translation

#11566 Fixes for WebUI
  src/base/search/searchpluginmanager.cpp
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/search.html
Labels: Translation, WebUI

#11607 Remove -march=native optimisation
  cmake/Modules/MacroQbtCompilerSettings.cmake
Labels: Build system

#11615 Mention HTTPS in WebUI magnet link warning
  src/webui/www/private/scripts/client.js
Labels: WebUI

#11029 Add ability to rename torrent files from the WebUI
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/webui.qrc
Labels: WebUI

#11627 Fix quoting of alert() in client.js
  src/webui/www/private/scripts/client.js
Labels: Hotfix, WebUI

#11633 Enable "Apply rate limit to peers on LAN" option by default
  src/base/bittorrent/session.cpp
Labels: Network

#11592 Rework the listening IP/interface selection code
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/settingsstorage.cpp
  src/base/utils/net.cpp
  src/base/utils/net.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Network

#11675 Align Properties tab bar correctly on window resize
  src/gui/properties/propertieswidget.cpp
Labels: GUI

#11614 Enable portable mode if "profile" folder exists
  src/app/application.cpp
  src/app/application.h
  src/app/cmdoptions.cpp
  src/app/cmdoptions.h
Labels: Core

#11642 Use the incomplete folder where appropriate
  src/base/bittorrent/session.cpp
Labels: Hotfix

#11660 Don't unnecessarily delete folder customization
  src/base/utils/fs.cpp
Labels: Core

#11678 Disable Torrent Queue by default
  src/base/bittorrent/session.cpp
Labels: Core

#11694 Replace hard-coded numbers in TrackerFiltersList class
  src/gui/rss/htmlbrowser.cpp
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistfilterswidget.h
Labels: Code cleanup

#11696 Update free disk space label on Category change in Auto Mode
  src/gui/addnewtorrentdialog.cpp
Labels: GUI

#11433 Allow transfer list text color changes through QSS
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: GUI

#11672 Option to show console when external program is run
  src/app/application.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
Labels: Core

#11278 Rename Country column to "Country / Region"
  src/gui/properties/peerlistwidget.cpp
  src/webui/www/private/scripts/dynamicTable.js
Labels: Look and Feel

#11637 Change some settings defaults for better behaviour out of the box
  src/base/bittorrent/session.cpp
Labels: Core

#11726 WebUI: Implement "Secure" flag for session cookie. Closes #11724
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI

#11745 WebUI: remove unused/deprecated "Listen on IPv6 address" option
  src/webui/www/private/views/preferences.html
Labels: WebUI

#11635 WebUI: Prevent excessive requests to /api/v2/sync/maindata
  src/webui/www/private/scripts/client.js
Labels: WebUI

#11739 Migrate away from deprecated API in Qt 5.14
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/global.h
  src/gui/advancedsettings.cpp
  src/gui/qtnotify/notifications.h
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistwidget.cpp
  src/webui/api/torrentscontroller.cpp
Labels: Code cleanup

#11708 Improve Transfer list architecture
  src/gui/transferlistdelegate.cpp
  src/gui/transferlistdelegate.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistsortmodel.h
Labels: Code cleanup, GUI, Look and Feel

#11756 WebUI: fix populating statistics window
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/statistics.html
Labels: WebUI

#11778 WebUI: backport #11635 and #11756 to v4_1_x
  src/webui/www/private/scripts/client.js
  src/webui/www/private/statistics.html
Labels: Backport
