Repository qbittorrent/qBittorrent, pull requests merged in 2019-01, with the labels that each got.

#10074 Drop support for "BC Link" format
  src/base/bittorrent/magneturi.cpp
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/net/downloadmanager.cpp
  src/base/net/downloadmanager.h
  src/base/search/searchpluginmanager.cpp
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/mainwindow.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/search/pluginselectdialog.cpp
Labels: Code cleanup, Core

#10066 Drop upgrade code
  src/app/main.cpp
  src/app/upgrade.h
  src/base/preferences.cpp
  src/base/preferences.h
Labels: Core

#10075 Add autocomplete attribute to WebUI
  src/webui/www/private/preferences_content.html
  src/webui/www/public/login.html
Labels: WebUI

#10094 Draw progress bar in Fusion style on macOS systems
  src/gui/previewlistdelegate.h
  src/gui/properties/proplistdelegate.cpp
  src/gui/transferlistdelegate.cpp
Labels: Look and Feel, OS: Mac OS X

#10106 Various fixes in WebUI
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#10125 Replace boost::function with std::function
  src/base/bittorrent/torrentcreatorthread.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/base/net/reverseresolution.cpp
Labels: Code cleanup

#10006 Allow WebUI Trackers and Content tables to be manipulated
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/properties_content.html
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/webui.qrc
Labels: WebUI

#10145 Drop legacy WebAPI support
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebAPI

#10136 Drop support of libtorrent < 1.1.10
  CMakeLists.txt
  configure
  configure.ac
  src/CMakeLists.txt
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrentcreatorthread.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/torrentinfo.h
  src/base/bittorrent/trackerentry.h
  src/base/net/portforwarder.cpp
  src/gui/CMakeLists.txt
  src/gui/advancedsettings.cpp
  src/gui/gui.pri
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/trackerlogindialog.cpp
  src/gui/trackerlogindialog.h
  src/gui/trackerlogindialog.ui
  src/gui/transferlistdelegate.cpp
  src/gui/transferlistmodel.cpp
  src/webui/api/serialize/serialize_torrent.cpp
Labels: Code cleanup

#10130 Fix icon issues
  src/icons/skin/completed.svg
  src/icons/skin/downloading.svg
  src/webui/www/private/index.html
  src/webui/www/private/preferences_content.html
Labels: Look and Feel, WebUI

#10117 Update appdata
  .tx/config
  dist/unix/CMakeLists.txt
  dist/unix/org.qbittorrent.qBittorrent.appdata.xml
  dist/unix/org.qbittorrent.qBittorrent.desktop
  dist/unix/qbittorrent.appdata.xml
  unixconf.pri
Labels: OS: Linux

#10072 Cleanup Info.plist
  dist/mac/Info.plist
Labels: OS: Mac OS X

#10061 Include application version in css/js url for cache busting
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/preferences.html
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/lib/clipboard-2.0.0.min.js
  src/webui/www/private/scripts/lib/excanvas-compressed.js
  src/webui/www/private/scripts/lib/mocha-0.9.6-yc.js
  src/webui/www/private/scripts/lib/mocha-0.9.6.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/public/login.html
  src/webui/www/webui.qrc
Labels: WebUI

#10179 Fix broken image link
  src/webui/www/private/search.html
Labels: WebUI

#10146 Add Web UI support for escape key
  src/webui/www/private/addtrackers.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/installsearchplugin.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/search.html
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
Labels: WebUI

#10201 Remove leftover tracker authentication code
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandle.cpp
Labels: Core

#10225 Separate URL components before percent-decoding. Closes #9116
  src/base/bittorrent/tracker.cpp
  src/base/http/requestparser.cpp
  src/webui/webapplication.cpp
Labels: Core, WebAPI

#10229 Separate URL components before percent-decoding
  src/base/bittorrent/tracker.cpp
  src/base/http/requestparser.cpp
  src/webui/webapplication.cpp
Labels: Core, WebAPI

#10096 Match WebUI About page to GUI
  src/webui/api/appcontroller.cpp
  src/webui/api/appcontroller.h
  src/webui/www/private/about.html
  src/webui/www/private/aboutToolbar.html
  src/webui/www/private/properties_content.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/webui.qrc
Labels: WebUI

#10231 Improve Properties widget
  src/gui/mainwindow.cpp
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.h
Labels: GUI
