Repository qbittorrent/qBittorrent, pull requests merged in 2020-08, with the labels that each got.

#13220 Fix style
  src/app/application.cpp
  src/gui/statusbar.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: GUI

#13206 Read piece for torrents added with skip hash only for older libtorrent
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
Labels: Core, Libtorrent

#13226 Use palette colors in RSS feeds
  src/gui/rss/rsswidget.cpp
Labels: GUI

#13246 Allow changing RSS article list colors from custom UI theme
  src/gui/rss/articlelistwidget.cpp
Labels: GUI

#13234 Improve torrent loading code
  src/base/bittorrent/addtorrentparams.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandleimpl.cpp
  src/base/bittorrent/torrenthandleimpl.h
  src/gui/categoryfiltermodel.cpp
  src/gui/mainwindow.cpp
  src/gui/tagfiltermodel.cpp
  src/gui/torrentcreatordialog.cpp
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistmodel.cpp
Labels: Code cleanup, Core

#13252 Fix incorrect foreground for read articles with custom theme
  src/gui/rss/articlelistwidget.cpp
Labels: GUI

#13258 Change api requests in RSS WebUI to relative paths
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_rule.html
Labels: WebUI

#13265 Add a scroll area to torrent creator dialog
  src/gui/torrentcreatordialog.ui
Labels: GUI

#13269 Fix seeding time checkbox placement in WebUI
  src/webui/www/private/views/preferences.html
Labels: WebUI

#13285 Add CTRL + I keyboard shortcut to open statistics (command + I on Mac)
  src/gui/mainwindow.cpp
Labels: GUI

#13257 Expose LibTorrent peer_turnover settings
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: GUI, WebAPI, WebUI

#13294 Fix open path won't work correctly
  src/base/utils/string.h
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.h
Labels: GUI
