Repository qbittorrent/qBittorrent, pull requests merged in 2020-02, with the labels that each got.

#11961 Remove redundant null checks
  src/base/bittorrent/session.cpp
  src/base/iconprovider.cpp
  src/base/logger.cpp
  src/base/net/downloadmanager.cpp
  src/base/net/geoipmanager.cpp
  src/base/net/private/downloadhandlerimpl.cpp
  src/base/net/proxyconfigurationmanager.cpp
  src/base/preferences.cpp
  src/base/scanfoldersmodel.cpp
  src/base/search/searchpluginmanager.cpp
  src/gui/mainwindow.cpp
  src/gui/private/fspathedit_p.cpp
  src/gui/uithememanager.cpp
  src/webui/webui.cpp
Labels: Code cleanup

#11977 Fix singleton class ownership
  src/app/application.cpp
  src/base/scanfoldersmodel.cpp
  src/base/scanfoldersmodel.h
Labels: Code cleanup

#11981 Use SVG image for WebUI favicon
  src/webui/www/private/index.html
  src/webui/www/public/index.html
Labels: WebUI

#11847 Keep legacy defaults for existing users
  src/app/main.cpp
  src/app/upgrade.cpp
  src/app/upgrade.h
Labels: Hotfix

#11995 Handle HTTP redirections manually
  src/base/net/downloadmanager.cpp
  src/base/net/private/downloadhandlerimpl.cpp
  src/base/net/private/downloadhandlerimpl.h
Labels: Core, Network

#11994 Unify singleton pattern in Profile class
  src/app/application.cpp
  src/base/bittorrent/private/statistics.cpp
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/profile.cpp
  src/base/profile.h
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_feed.cpp
  src/base/settingsstorage.cpp
Labels: Code cleanup

#11785 Fix portable mode
  src/base/bittorrent/session.cpp
  src/base/private/profile_p.cpp
  src/base/profile.cpp
  src/base/profile.h
Labels: Core

#11998 Inherit text color for filter list elements
  src/webui/www/private/css/style.css
Labels: WebUI

#12011 Close document properly after writing
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#12004 Add configurable ban options for WebUI
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/api/authcontroller.cpp
  src/webui/api/authcontroller.h
  src/webui/www/private/views/preferences.html
Labels: WebUI

#12013 Don't access download handler after it's finished
  src/base/rss/rss_feed.cpp
Labels: RSS

#11963 Start qBittorrent on Windows start up option in installer
  dist/windows/installer-translations/afrikaans.nsi
  dist/windows/installer-translations/albanian.nsi
  dist/windows/installer-translations/arabic.nsi
  dist/windows/installer-translations/basque.nsi
  dist/windows/installer-translations/belarusian.nsi
  dist/windows/installer-translations/bosnian.nsi
  dist/windows/installer-translations/breton.nsi
  dist/windows/installer-translations/bulgarian.nsi
  dist/windows/installer-translations/catalan.nsi
  dist/windows/installer-translations/croatian.nsi
  dist/windows/installer-translations/czech.nsi
  dist/windows/installer-translations/danish.nsi
  dist/windows/installer-translations/dutch.nsi
  dist/windows/installer-translations/english.nsi
  dist/windows/installer-translations/esperanto.nsi
  dist/windows/installer-translations/estonian.nsi
  dist/windows/installer-translations/farsi.nsi
  dist/windows/installer-translations/finnish.nsi
  dist/windows/installer-translations/french.nsi
  dist/windows/installer-translations/galician.nsi
  dist/windows/installer-translations/german.nsi
  dist/windows/installer-translations/greek.nsi
  dist/windows/installer-translations/hebrew.nsi
  dist/windows/installer-translations/hungarian.nsi
  dist/windows/installer-translations/icelandic.nsi
  dist/windows/installer-translations/indonesian.nsi
  dist/windows/installer-translations/irish.nsi
  dist/windows/installer-translations/italian.nsi
  dist/windows/installer-translations/japanese.nsi
  dist/windows/installer-translations/korean.nsi
  dist/windows/installer-translations/kurdish.nsi
  dist/windows/installer-translations/latvian.nsi
  dist/windows/installer-translations/lithuanian.nsi
  dist/windows/installer-translations/luxembourgish.nsi
  dist/windows/installer-translations/macedonian.nsi
  dist/windows/installer-translations/malay.nsi
  dist/windows/installer-translations/mongolian.nsi
  dist/windows/installer-translations/norwegian.nsi
  dist/windows/installer-translations/norwegiannynorsk.nsi
  dist/windows/installer-translations/polish.nsi
  dist/windows/installer-translations/portuguese.nsi
  dist/windows/installer-translations/portugueseBR.nsi
  dist/windows/installer-translations/romanian.nsi
  dist/windows/installer-translations/russian.nsi
  dist/windows/installer-translations/serbian.nsi
  dist/windows/installer-translations/serbianlatin.nsi
  dist/windows/installer-translations/simpchinese.nsi
  dist/windows/installer-translations/slovak.nsi
  dist/windows/installer-translations/slovenian.nsi
  dist/windows/installer-translations/spanish.nsi
  dist/windows/installer-translations/spanishinternational.nsi
  dist/windows/installer-translations/swedish.nsi
  dist/windows/installer-translations/thai.nsi
  dist/windows/installer-translations/tradchinese.nsi
  dist/windows/installer-translations/turkish.nsi
  dist/windows/installer-translations/ukrainian.nsi
  dist/windows/installer-translations/uzbek.nsi
  dist/windows/installer-translations/welsh.nsi
  dist/windows/installer.nsi
Labels: NSIS, OS: Windows

#11999 Do not list not contacted trackers as error
  src/base/bittorrent/torrenthandle.cpp
Labels: Hotfix

#12021 Simplify TrackerEntry::status() logic
  src/base/bittorrent/trackerentry.cpp
  src/base/bittorrent/trackerentry.h
Labels: Code cleanup

#12014 Use IP geolocation database by DB-IP instead of MaxMind
  README.md
  src/base/net/geoipmanager.cpp
  src/base/net/private/geoipdatabase.cpp
  src/base/net/private/geoipdatabase.h
  src/gui/aboutdialog.cpp
  src/gui/aboutdialog.ui
  src/gui/advancedsettings.cpp
  src/webui/www/private/views/about.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/preferences.html
Labels: Core

#12032 NSIS: Improve Czech translation
  dist/windows/installer-translations/czech.nsi
Labels: Translation

#12034 NSIS: Update French translation
  dist/windows/installer-translations/french.nsi
Labels: NSIS, Translation

#12044 Revert using random port by default
  src/app/upgrade.cpp
  src/base/bittorrent/session.cpp
Labels: Hotfix, Network

#12050 NSIS: Update German translation
  dist/windows/installer-translations/german.nsi
Labels: Translation

#12057 Change placeholder text in torrent list's filter
  src/gui/mainwindow.cpp
Labels: GUI

#12075 Remove misleading translation comment
  src/gui/rss/automatedrssdownloader.ui
  src/gui/torrentcreatordialog.ui
Labels: Code cleanup, Translation

#12076 NSIS: Update Japanese translation
  dist/windows/installer-translations/japanese.nsi
Labels: Translation

#12033 Allow to save downloaded metadata as torrent file
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrenthandle.cpp
  src/base/bittorrent/torrenthandle.h
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/torrentinfo.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/addnewtorrentdialog.ui
Labels: GUI

#12043 Fix embedded tracker
  src/base/bittorrent/tracker.cpp
Labels: Core
