Repository qbittorrent/qBittorrent, pull requests merged in 2020-05, with the labels that each got.

#12684 Remove "requires restart" from network interface settings
  src/gui/advancedsettings.cpp
  src/webui/www/private/views/preferences.html
Labels: GUI, WebUI

#12689 Rename "Create subfolder" option to "Keep subfolder"
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandleimpl.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/rss/automatedrssdownloader.ui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/download.html
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
Labels: GUI, WebUI

#12711 Show tooltip for torrent name in transfer list
  src/gui/transferlistmodel.cpp
Labels: GUI

#12706 Hide additional Web UI search filters on small screens
  src/webui/www/private/views/search.html
Labels: WebUI

#12707 Use latest CMake on TravisCI
  .travis.yml
  CMakeLists.txt
Labels: Build system

#12718 Improve CMake project
  .travis.yml
  CMakeLists.txt
  dist/CMakeLists.txt
  src/CMakeLists.txt
  src/app/CMakeLists.txt
  src/app/application.cpp
  src/base/CMakeLists.txt
  src/base/preferences.cpp
  src/gui/CMakeLists.txt
  src/gui/addnewtorrentdialog.cpp
  src/gui/log/CMakeLists.txt
  src/gui/log/loglistview.cpp
  src/gui/mainwindow.cpp
  src/gui/powermanagement/CMakeLists.txt
  src/gui/powermanagement/powermanagement.pri
  src/gui/properties/CMakeLists.txt
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/properties.pri
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.ui
  src/gui/properties/proptabbar.cpp
  src/gui/properties/trackerlistwidget.cpp
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/qtnotify/CMakeLists.txt
  src/gui/qtnotify/qtnotify.pri
  src/gui/rss/CMakeLists.txt
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.ui
  src/gui/rss/feedlistwidget.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/search/CMakeLists.txt
  src/gui/search/pluginselectdialog.cpp
  src/gui/search/pluginsourcedialog.cpp
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.ui
Labels: Build system, Code cleanup

#12735 Clean up header inclusion
  src/gui/addnewtorrentdialog.ui
  src/gui/optionsdialog.ui
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcategorydialog.ui
Labels: Hotfix

#12734 Cleanup project configuration
  CMakeLists.txt
  cmake/Modules/MacroQbtCompilerSettings.cmake
  src/CMakeLists.txt
  src/app/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/gui/gui.pri
  src/gui/log/CMakeLists.txt
  src/gui/powermanagement/CMakeLists.txt
  src/gui/powermanagement/powermanagement.pri
  src/gui/properties/CMakeLists.txt
  src/gui/properties/properties.pri
  src/gui/qtnotify/CMakeLists.txt
  src/gui/qtnotify/qtnotify.pri
  src/gui/rss/CMakeLists.txt
  src/gui/search/CMakeLists.txt
Labels: Build system, Code cleanup

#12736 Shrink Web UI search bar on small screens
  src/webui/www/private/views/search.html
Labels: WebUI

#12705 Fix Web UI search categories only working in English
  src/webui/api/searchcontroller.cpp
  src/webui/api/searchcontroller.h
  src/webui/webapplication.h
  src/webui/www/private/views/search.html
Labels: WebAPI, WebUI

#12719 Allow setting application palette from config.json
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: GUI

#11618 Align Properties Tabbar in center
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.h
  src/gui/properties/propertieswidget.ui
Labels: GUI

#12756 Allow changing log colors from config.json
  src/gui/log/loglistview.cpp
  src/gui/log/logmodel.cpp
  src/gui/log/logmodel.h
Labels: GUI

#12755 Read Transfer list's custom colors from config.json
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: GUI

#12779 Clean up source files layout
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/bittorrent/bandwidthscheduler.cpp
  src/base/bittorrent/bandwidthscheduler.h
  src/base/bittorrent/filterparserthread.cpp
  src/base/bittorrent/filterparserthread.h
  src/base/bittorrent/ltunderlyingtype.h
  src/base/bittorrent/nativesessionextension.cpp
  src/base/bittorrent/nativesessionextension.h
  src/base/bittorrent/nativetorrentextension.cpp
  src/base/bittorrent/nativetorrentextension.h
  src/base/bittorrent/portforwarderimpl.cpp
  src/base/bittorrent/portforwarderimpl.h
  src/base/bittorrent/resumedatasavingmanager.cpp
  src/base/bittorrent/resumedatasavingmanager.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/speedmonitor.cpp
  src/base/bittorrent/speedmonitor.h
  src/base/bittorrent/statistics.cpp
  src/base/bittorrent/statistics.h
  src/base/bittorrent/torrentcreatorthread.cpp
  src/base/bittorrent/torrenthandleimpl.cpp
  src/base/bittorrent/torrenthandleimpl.h
  src/base/net/downloadhandlerimpl.cpp
  src/base/net/downloadhandlerimpl.h
  src/base/net/downloadmanager.cpp
  src/base/net/geoipdatabase.cpp
  src/base/net/geoipdatabase.h
  src/base/net/geoipmanager.cpp
  src/base/profile.cpp
  src/base/profile_p.cpp
  src/base/profile_p.h
  src/base/rss/rss_feed.cpp
  src/base/rss/rss_parser.cpp
  src/base/rss/rss_parser.h
  src/gui/CMakeLists.txt
  src/gui/fspathedit.cpp
  src/gui/fspathedit_p.cpp
  src/gui/fspathedit_p.h
  src/gui/gui.pri
  src/gui/tristateaction.cpp
  src/gui/tristatewidget.cpp
  src/gui/tristatewidget.h
Labels: Code cleanup

#12790 Fix include
  src/gui/log/logmodel.cpp
Labels: Hotfix

#12750 NSIS: Change confusing un-installation question
  dist/windows/installer-translations/afrikaans.nsi
  dist/windows/installer-translations/albanian.nsi
  dist/windows/installer-translations/arabic.nsi
  dist/windows/installer-translations/basque.nsi
  dist/windows/installer-translations/belarusian.nsi
  dist/windows/installer-translations/bosnian.nsi
  dist/windows/installer-translations/breton.nsi
  dist/windows/installer-translations/bulgarian.nsi
  dist/windows/installer-translations/catalan.nsi
  dist/windows/installer-translations/croatian.nsi
  dist/windows/installer-translations/czech.nsi
  dist/windows/installer-translations/danish.nsi
  dist/windows/installer-translations/dutch.nsi
  dist/windows/installer-translations/english.nsi
  dist/windows/installer-translations/esperanto.nsi
  dist/windows/installer-translations/estonian.nsi
  dist/windows/installer-translations/farsi.nsi
  dist/windows/installer-translations/finnish.nsi
  dist/windows/installer-translations/french.nsi
  dist/windows/installer-translations/galician.nsi
  dist/windows/installer-translations/german.nsi
  dist/windows/installer-translations/greek.nsi
  dist/windows/installer-translations/hebrew.nsi
  dist/windows/installer-translations/hungarian.nsi
  dist/windows/installer-translations/icelandic.nsi
  dist/windows/installer-translations/indonesian.nsi
  dist/windows/installer-translations/irish.nsi
  dist/windows/installer-translations/italian.nsi
  dist/windows/installer-translations/japanese.nsi
  dist/windows/installer-translations/korean.nsi
  dist/windows/installer-translations/kurdish.nsi
  dist/windows/installer-translations/latvian.nsi
  dist/windows/installer-translations/lithuanian.nsi
  dist/windows/installer-translations/luxembourgish.nsi
  dist/windows/installer-translations/macedonian.nsi
  dist/windows/installer-translations/malay.nsi
  dist/windows/installer-translations/mongolian.nsi
  dist/windows/installer-translations/norwegian.nsi
  dist/windows/installer-translations/norwegiannynorsk.nsi
  dist/windows/installer-translations/polish.nsi
  dist/windows/installer-translations/portuguese.nsi
  dist/windows/installer-translations/portugueseBR.nsi
  dist/windows/installer-translations/romanian.nsi
  dist/windows/installer-translations/russian.nsi
  dist/windows/installer-translations/serbian.nsi
  dist/windows/installer-translations/serbianlatin.nsi
  dist/windows/installer-translations/simpchinese.nsi
  dist/windows/installer-translations/slovak.nsi
  dist/windows/installer-translations/slovenian.nsi
  dist/windows/installer-translations/spanish.nsi
  dist/windows/installer-translations/spanishinternational.nsi
  dist/windows/installer-translations/swedish.nsi
  dist/windows/installer-translations/thai.nsi
  dist/windows/installer-translations/tradchinese.nsi
  dist/windows/installer-translations/turkish.nsi
  dist/windows/installer-translations/ukrainian.nsi
  dist/windows/installer-translations/uzbek.nsi
  dist/windows/installer-translations/welsh.nsi
Labels: NSIS

#12748 Add Trackers section to Web UI sidebar
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
  src/webui/api/synccontroller.cpp
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/filters.html
Labels: WebAPI, WebUI

#12793 Prebuild HTTP headers
  src/base/http/requestparser.cpp
  src/base/http/responsebuilder.cpp
  src/base/http/responsebuilder.h
  src/base/http/types.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: Code cleanup, WebAPI

#12805 Wait for storage to be moved when removing torrent
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandle.h
  src/base/bittorrent/torrenthandleimpl.cpp
  src/base/bittorrent/torrenthandleimpl.h
Labels: Core

#12828 Disable "Keep top-level folder" checkbox if torrent doesn't have root folder
  src/gui/addnewtorrentdialog.cpp
Labels: GUI

#12837 Fix Enter button behavior in web UI textarea
  src/webui/www/private/addtrackers.html
Labels: WebUI

#12843 Fix renaming RSS autodownload rule
  src/base/rss/rss_autodownloader.cpp
Labels: RSS

#12847 Don't use deprecated Qt function options
  src/base/rss/rss_item.cpp
  src/gui/properties/speedplotview.cpp
  src/gui/transferlistsortmodel.cpp
Labels: Code cleanup

#12835 Specify Content-Type in Web API error responses
  src/webui/webapplication.cpp
Labels: WebAPI

#12859 Move WebUI icons to its own folder
  src/icons/dock-tabs.gif
  src/icons/icons.qrc
  src/icons/logo-blank.gif
  src/icons/toolbox-divider2.gif
  src/webui/webapplication.cpp
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/images/3-state-checkbox.gif
  src/webui/www/private/images/L.gif
  src/webui/www/private/images/arrow-right.gif
  src/webui/www/private/images/bg-dropdown.gif
  src/webui/www/private/images/bg-handle-horizontal.gif
  src/webui/www/private/images/bg-header.gif
  src/webui/www/private/images/bg-panel-header.gif
  src/webui/www/private/images/handle-icon-horizontal.gif
  src/webui/www/private/images/handle-icon.gif
  src/webui/www/private/images/knob.gif
  src/webui/www/private/images/logo.gif
  src/webui/www/private/images/logo2.gif
  src/webui/www/private/images/slider-area.gif
  src/webui/www/private/images/spacer.gif
  src/webui/www/private/images/spinner-placeholder.gif
  src/webui/www/private/images/spinner.gif
  src/webui/www/private/images/tabs.gif
  src/webui/www/private/images/toolbox-divider.gif
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/lib/mocha-0.9.6-yc.js
  src/webui/www/private/scripts/lib/mocha-0.9.6.js
  src/webui/www/private/views/about.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/search.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/public/index.html
  src/webui/www/webui.qrc
Labels: WebUI

#12861 Allow changing GUI icons from theme bundles
  src/gui/aboutdialog.cpp
  src/gui/mainwindow.cpp
  src/gui/optionsdialog.cpp
  src/gui/rss/articlelistwidget.cpp
  src/gui/rss/feedlistwidget.cpp
  src/gui/statusbar.cpp
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistmodel.cpp
  src/gui/transferlistwidget.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: GUI

#12893 Move qbittorrent32.png to WebUI images folder
  src/icons/.svgo.yml
  src/icons/README.md
  src/icons/icons.qrc
  src/webui/www/private/index.html
  src/webui/www/public/images/qbittorrent32.png
  src/webui/www/public/index.html
  src/webui/www/webui.qrc
Labels: WebUI

#12894 Improvements to UIThemeManager
  src/gui/rss/feedlistwidget.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: GUI

#12418 Improve Windows qmake build configuration files
  conf.pri.windows
Labels: Build system

#12916 WebUI: Fix wrong file renaming selection range
  src/webui/www/private/rename_file.html
Labels: WebUI

#12944 Fix invalid assertion
  src/base/bittorrent/session.cpp
Labels: Hotfix

#12942 Cache country lookup result in PeerInfo class
  src/base/bittorrent/peerinfo.cpp
  src/base/bittorrent/peerinfo.h
Labels: Core

#12891 Cache flag icons
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: GUI

#12877 Address some issues regarding private torrents
  src/base/bittorrent/torrenthandle.h
  src/base/bittorrent/torrenthandleimpl.cpp
  src/base/bittorrent/torrenthandleimpl.h
  src/gui/properties/peerlistwidget.cpp
Labels: Core
