Repository qbittorrent/qBittorrent, pull requests merged in 2020-07, with the labels that each got.

#13097 WebUI: fix the url for banPeers method
  src/webui/www/private/scripts/prop-peers.js
Labels: WebUI

#13098 Use global style options for drawing progress in TransferList
  src/gui/transferlistdelegate.cpp
Labels: GUI

#13099 Use delegate provided rect for textRect in LogItemDelegate
  src/gui/log/loglistview.cpp
Labels: GUI

#13109 Change Windows resource file encoding to UTF-8
  src/qbittorrent.rc
Labels: Code cleanup, OS: Windows

#13110 Remove DISABLE_COUNTRIES_RESOLUTION define
  CMakeLists.txt
  src/app/application.cpp
  src/base/bittorrent/peerinfo.cpp
  src/base/bittorrent/peerinfo.h
  src/config.h.cmakein
  src/webui/api/synccontroller.cpp
Labels: Build system, Core

#13145 CMake improvements
  cmake/Modules/MacroQbtCompilerSettings.cmake
  src/CMakeLists.txt
Labels: Build system

#13158 Use QStyledItemDelegate as base for ScanFoldersDelegate
  src/gui/scanfoldersdelegate.cpp
  src/gui/scanfoldersdelegate.h
Labels: GUI

#13151 Improve "move torrent storage" handling
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrenthandleimpl.cpp
  src/base/bittorrent/torrenthandleimpl.h
  src/gui/transferlistwidget.cpp
Labels: Core

#13153 Use QStyledItemDelegate for content views
  src/gui/properties/proplistdelegate.cpp
  src/gui/properties/proplistdelegate.h
Labels: GUI

#13168 Always allow to save resume data in checking state
  src/base/bittorrent/session.cpp
  src/base/utils/string.cpp
Labels: Core

#13175 Update torrent status on move enqueued
  src/base/bittorrent/torrenthandleimpl.cpp
Labels: Core

#13157 Use default delegate for PeerListWidget
  src/gui/CMakeLists.txt
  src/gui/gui.pri
  src/gui/properties/peerlistdelegate.cpp
  src/gui/properties/peerlistdelegate.h
  src/gui/properties/peerlistsortmodel.cpp
  src/gui/properties/peerlistsortmodel.h
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/peerlistwidget.h
Labels: GUI

#13193 Notify user when torrent moving finished
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: Core, GUI

#13188 Fix impossible speed in graph
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
Labels: Core

#13214 Disable edit action
  src/gui/properties/peerlistwidget.cpp
  src/gui/search/searchjobwidget.cpp
Labels: GUI
