Repository qbittorrent/qBittorrent, pull requests merged in 2021-07, with the labels that each got.

#15137 Don't forget to start "watch timer"
  src/base/torrentfileswatcher.cpp
Labels: Core, Hotfix

#15138 Use torrent info with hashes for creating .torrent file
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
Labels: Core, GUI

#15152 WebAPI: Provide filtering torrents by tag
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#15150 Backport changes to v4.3.x branch
  .appveyor.yml
  .travis.yml
  README.md
  src/base/bittorrent/magneturi.cpp
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/trackerentry.h
  src/base/logger.cpp
  src/base/torrentfileswatcher.cpp
  src/gui/log/logmodel.cpp
  src/gui/properties/trackerlistwidget.cpp
  src/gui/tagfiltermodel.cpp
  src/gui/transferlistwidget.cpp
  src/gui/tristateaction.cpp
  src/gui/tristateaction.h
  src/gui/tristatewidget.cpp
  src/gui/tristatewidget.h
  src/webui/api/torrentscontroller.cpp
Labels: Backport

#15161 Use `underlying_type` member directly
  src/base/bittorrent/ltunderlyingtype.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrentcreatorthread.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#15170 Add tooltip for various columns
  src/gui/macutilities.mm
  src/gui/properties/trackerlistwidget.cpp
  src/webui/www/private/scripts/dynamicTable.js
Labels: Code cleanup, GUI

#15176 Add tooltip for more widgets
  src/base/bittorrent/torrentimpl.cpp
  src/gui/properties/peerlistwidget.cpp
  src/gui/torrentcontentmodel.cpp
Labels: GUI

#15164 Add context menu to toggle content tab columns
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.h
Labels: GUI

#15179 Properly create "clean path" for watched folder
  src/base/torrentfileswatcher.cpp
  src/gui/watchedfoldersmodel.cpp
Labels: Core

#15182 Backport changes to v4.3.x branch
  src/base/torrentfileswatcher.cpp
  src/gui/watchedfoldersmodel.cpp
Labels: Backport

#15186 Support navigating Web UI tables with arrow keys
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
Labels: WebUI

#15187 Use the URI's setData to set query data
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#15192 Update Danish translation
  dist/windows/installer-translations/danish.nsi
Labels: NSIS, Translation

#15166 Add filter "Checking" to side panel
  src/base/torrentfilter.cpp
  src/base/torrentfilter.h
  src/gui/transferlistfilterswidget.cpp
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/filters.html
Labels: GUI, WebUI

#15185 Add "Forced metadata downloading" state
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/gui/transferlistmodel.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/www/private/scripts/dynamicTable.js
Labels: GUI, WebUI

#15191 Store minimal metadata for "restore torrent" purposes
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/bencoderesumedatastorage.h
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#15205 Support sorting Web UI tables via touch
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#15206 Recognise v2 info-hashes in clipboard for "Add torrent link" dialog
  src/gui/downloadfromurldialog.cpp
Labels: GUI

#15209 Improve handling for magnet URI
  src/base/bittorrent/magneturi.cpp
Labels: Core

#15181 Raise minimum Qt version to 5.15.2
  .appveyor.yml
  .github/workflows/ci.yaml
  CMakeLists.txt
  INSTALL
  cmake/Modules/MacroQbtCommonConfig.cmake
  configure
  configure.ac
  m4/qbittorrent.m4
  src/app/application.cpp
  src/base/bittorrent/peeraddress.cpp
  src/base/bittorrent/peeraddress.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/http/connection.cpp
  src/base/http/requestparser.cpp
  src/base/http/requestparser.h
  src/base/net/smtp.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/base/search/searchdownloadhandler.cpp
  src/base/search/searchhandler.cpp
  src/base/search/searchhandler.h
  src/base/utils/bytearray.h
  src/base/utils/compare.cpp
  src/base/utils/misc.cpp
  src/base/utils/string.cpp
  src/base/utils/string.h
  src/gui/downloadfromurldialog.cpp
  src/gui/fspathedit_p.cpp
  src/gui/fspathedit_p.h
  src/gui/mainwindow.cpp
  src/gui/properties/proptabbar.cpp
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/torrentoptionsdialog.cpp
  src/gui/trackerentriesdialog.cpp
  src/src.pro
  src/webui/webapplication.cpp
Labels: Code cleanup, Project management, Qt6 compat

#15230 Remember last viewed page in Options dialog
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
Labels: GUI

#15190 Set default file priorities when not specified
  src/base/bittorrent/session.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#15245 GitHub Actions CI: update workflow
  .github/workflows/ci.yaml
Labels: CI

#15229 Use spinbox special value to represent "Use any available port"
  src/app/upgrade.cpp
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/settingsstorage.cpp
  src/base/settingsstorage.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: GUI, WebUI
