Repository qbittorrent/qBittorrent, pull requests merged in 2021-02, with the labels that each got.

#14311 Update translator tab on About
  AUTHORS
  src/gui/aboutdialog.ui
  src/gui/translators.html
  src/webui/www/private/views/about.html
Labels: GUI, WebUI

#14318 Reuse existing code for sorting
  src/gui/transferlistsortmodel.cpp
Labels: GUI

#14331 NSIS: Add Estonian translation
  dist/windows/installer-translations/estonian.nsi
Labels: NSIS, Translation

#14336 Don't trigger Github Actions CI builds after editing a PR's opening post
  .github/workflows/ci.yaml
  .github/workflows/file_health.yaml
Labels: CI

#14307 Don't inhibit system sleep if all active torrents are errored
  src/base/bittorrent/session.cpp
Labels: Core

#14340 Use built-in function for configuring file contents
  CMakeLists.txt
Labels: Build system

#14335 Use stable sorting in transfer list
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistsortmodel.h
Labels: GUI

#14353 Allow change-case-only file renaming on Windows
  src/base/bittorrent/abstractfilestorage.cpp
Labels: Core

#14354 Improve handling of "missing files" torrents
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#14351 Show proper string when torrent availability is not available
  src/base/bittorrent/torrent.cpp
  src/gui/transferlistmodel.cpp
Labels: GUI

#14363 Revise getter function for torrrent queue position
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrentimpl.cpp
  src/gui/transferlistmodel.cpp
  src/webui/api/serialize/serialize_torrent.cpp
Labels: Core

#14327 Add category button on AutomatedRSSDownloader
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.h
  src/gui/rss/automatedrssdownloader.ui
  src/gui/torrentcategorydialog.cpp
Labels: GUI, RSS

#14368 Refactor apply button logics on options dialog
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
Labels: GUI

#14371 Fix potential out-of-bounds access
  src/base/utils/misc.cpp
  src/base/utils/misc.h
Labels: Core

#14054 Make SpeedPlotView averager time aware
  src/gui/properties/speedplotview.cpp
  src/gui/properties/speedplotview.h
  src/gui/properties/speedwidget.cpp
Labels: GUI

#14372 Systemd: wait for mounting of local filesystems
  dist/unix/systemd/qbittorrent-nox@.service.in
Labels: OS: Linux

#14405 Enable sponsor button on Github
  .github/FUNDING.yml
Labels: Project management

#14428 Add an option to disable icons in menus
  src/app/main.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
Labels: GUI

#14437 Improve detection of filename extension of audio/video files
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/previewselectdialog.cpp
  src/gui/transferlistwidget.cpp
Labels: Core

#14432 WebUI: Properly decode strings
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_rule.html
Labels: RSS, WebUI
