Repository qbittorrent/qBittorrent, pull requests merged in 2021-09, with the labels that each got.

#15397 Stick Unread row to top in RSS feed list
  src/gui/rss/feedlistwidget.cpp
Labels: RSS

#15414 Prolong wait time for shutdown
  dist/unix/systemd/qbittorrent-nox@.service.in
Labels: OS: Linux

#15396 Fix invalid RSS feed icons
  src/base/net/downloadhandlerimpl.cpp
  src/base/net/downloadmanager.cpp
  src/base/net/downloadmanager.h
  src/base/rss/rss_feed.cpp
  src/gui/rss/feedlistwidget.cpp
Labels: RSS, Core

#15423 Fix broken behavior of "priority by shown file order"
  src/gui/properties/propertieswidget.cpp
Labels: GUI

#15366 Fix issue #14419, column header truncation
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/trackerlistwidget.cpp
  src/gui/search/searchjobwidget.cpp
  src/gui/torrentcontenttreeview.cpp
  src/gui/transferlistwidget.cpp
Labels: GUI

#15433 Add "Skip hash check" option for watched folders
  src/base/torrentfileswatcher.cpp
  src/gui/watchedfolderoptionsdialog.cpp
  src/gui/watchedfolderoptionsdialog.ui
Labels: GUI, Core

#15436 Update indonesian.nsi
  dist/windows/installer-translations/indonesian.nsi
Labels: Translation, NSIS

#15418 Add pieces progress bar to General tab in the WebUI
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/views/properties.html
Labels: WebUI

#15444 Prevent self-assignment in assignment operator
  src/base/bittorrent/torrentinfo.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/gui/raisedmessagebox.h
Labels: Code cleanup

#15450 Fix code defects
  .github/workflows/coverity-scan.yml
  src/base/utils/gzip.cpp
  src/gui/properties/propertieswidget.cpp
Labels: Core

#15451 Improve Profile handling
  src/base/preferences.cpp
  src/base/profile.cpp
  src/base/profile.h
  src/base/profile_p.cpp
  src/base/profile_p.h
Labels: Core

#15330 Replace GitHub markdown templates with GitHub forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Project management

#15419 Improve error detection when saving files
  src/app/filelogger.cpp
  src/app/upgrade.cpp
  src/base/3rdparty/expected.hpp
  src/base/CMakeLists.txt
  src/base/asyncfilestorage.cpp
  src/base/base.pri
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/torrentcreatorthread.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/net/downloadhandlerimpl.cpp
  src/base/net/geoipmanager.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_session.cpp
  src/base/torrentfileswatcher.cpp
  src/base/utils/io.cpp
  src/base/utils/io.h
  src/gui/rss/automatedrssdownloader.cpp
Labels: Core

#15459 Revise description wordings
  src/app/application.cpp
  src/app/cmdoptions.cpp
  src/base/bittorrent/session.cpp
  src/base/net/dnsupdater.cpp
  src/gui/aboutdialog.ui
  src/gui/addnewtorrentdialog.ui
  src/gui/advancedsettings.cpp
  src/gui/mainwindow.cpp
  src/gui/mainwindow.ui
  src/gui/optionsdialog.ui
  src/gui/rss/automatedrssdownloader.ui
  src/webui/www/private/views/about.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/search.html
Labels: WebUI, GUI, Code cleanup

#15484 Clean up Preferences class
  src/base/preferences.cpp
  src/base/preferences.h
Labels: Code cleanup

#15483 CI: Clean up scripts
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/coverity-scan.yml
Labels: CI

#15475 WebUI: revise hash function
  src/webui/www/private/scripts/client.js
Labels: WebUI

#15500 Add remote filesystem magic numbers
  src/base/utils/fs.cpp
Labels: OS: Linux, OS: macOS, Core
