Repository qbittorrent/qBittorrent, pull requests merged in 2022-10, with the labels that each got.

#17797 WebUI: don't disable file priority combobox
  src/webui/www/private/scripts/prop-files.js
Labels: WebUI

#17786 Fix torrent content checkboxes not updated properly
  src/gui/torrentcontentfiltermodel.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/torrentcontentmodel.h
Labels: GUI

#17807 Correctly load state of use download folder
  src/gui/watchedfolderoptionsdialog.cpp
Labels: GUI, Watched folders

#17801 GHA CI: Bump Windows/macOS `Qt6` version to `6.4.0`
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#17806 Improve column updates granularity
  src/gui/torrentcontentmodel.cpp
  src/gui/torrentcontentmodel.h
Labels: GUI

#17817 GHA CI: only install required Qt components
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yml
Labels: CI

#17813 Correctly load state of use download folder
  src/gui/watchedfolderoptionsdialog.cpp
Labels: GUI, Backport, Watched folders

#17823 Don't pollute move queue by torrents w/o metadata
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#17820 Revert "Consider brackets within wildcard as regular characters"
  src/base/utils/string.cpp
Labels: GUI, Core

#17826 Don't pollute move queue by torrents w/o metadata
  src/base/bittorrent/torrentimpl.cpp
Labels: Core, Backport

#17830 Fix wrong 'tracker error' count
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistfilterswidget.h
Labels: GUI

#17841 Fix wrong 'tracker error' count
  src/gui/transferlistfilterswidget.cpp
Labels: Backport

#17799 Add infohash and download path columns
  src/base/bittorrent/infohash.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistwidget.cpp
Labels: GUI

#17828 NSIS: Update Estonian translation
  dist/windows/installer-translations/estonian.nsi
Labels: Translations, NSIS

#17834 NSIS: Update Japanese translation
  dist/windows/installer-translations/japanese.nsi
Labels: Translations, NSIS

#17835 NSIS: Update Dutch translation
  dist/windows/installer-translations/dutch.nsi
Labels: Translations, NSIS

#17853 Support 'file exists' situation
  src/base/bittorrent/customstorage.cpp
Labels: Core

#17829 Set proper focus on widget
  .github/workflows/coverity-scan.yml
  src/gui/fspathedit.cpp
Labels: GUI, CI

#17814 Allow to set torrent stop condition
  src/base/bittorrent/addtorrentparams.h
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.h
  src/base/bittorrent/loadtorrentparams.h
  src/base/bittorrent/nativetorrentextension.cpp
  src/base/bittorrent/nativetorrentextension.h
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/torrentscontroller.cpp
  src/webui/webapplication.h
Labels: GUI, Core, WebAPI

#17858 Show N/A when there is no hash
  .github/workflows/coverity-scan.yml
  src/gui/downloadfromurldialog.cpp
  src/gui/transferlistmodel.cpp
Labels: GUI

#17855 Use 'fail if exist' strategy on automatic move
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Core

#17857 NSIS: Update Portuguese BR translation
  dist/windows/installer-translations/portugueseBR.nsi
Labels: Translations, NSIS

#17860 NSIS: Update German translation
  dist/windows/installer-translations/german.nsi
Labels: Translations, NSIS

#17810 Add a "Moving" status filter
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/base/torrentfilter.cpp
  src/base/torrentfilter.h
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistfilterswidget.h
Labels: GUI

#17876 Allow to set torrent stop condition in WebUI
  src/webui/api/appcontroller.cpp
  src/webui/www/private/download.html
  src/webui/www/private/scripts/download.js
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
Labels: WebUI

#17878 WebUI: handle drag and drop events
  src/webui/www/private/scripts/client.js
  src/webui/www/private/upload.html
Labels: WebUI

#17885 Revise "save resume data" handling on shutdown
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#17798 Introduce color palettes for both dark, light themes
  src/gui/CMakeLists.txt
  src/gui/color.h
  src/gui/gui.pri
  src/gui/log/logmodel.cpp
  src/gui/transferlistmodel.cpp
Labels: Look and feel, GUI

#17899 Make GeoIPDatabase interface safer
  src/base/net/geoipdatabase.cpp
  src/base/net/geoipdatabase.h
Labels: Code cleanup

#17915 Correctly set "stop condition" on force recheck invoked
  src/base/bittorrent/torrentimpl.cpp
Labels: Hotfix, Core

#17895 WebUI: remove unused include
  src/webui/www/private/scripts/lib/mocha.min.js
Labels: WebUI

#17904 Add a "Use proxy for hostname lookup" option
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Proxy/VPN

#17862 Introduce a change listen port cmd option
  src/app/application.cpp
  src/app/cmdoptions.cpp
  src/app/cmdoptions.h
Labels: Core

#17918 Avoid redundant lookups in port forwarder
  src/base/bittorrent/portforwarderimpl.cpp
  src/base/bittorrent/portforwarderimpl.h
  src/base/bittorrent/sessionimpl.cpp
Labels: Code cleanup

#17924 GHA CI: Bump libtorrent version(s)
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yml
Labels: CI

#17926 WebUI: use proper comparison for numbers
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#17930 Correctly destroy startup resume data storage
  src/base/bittorrent/sessionimpl.cpp
Labels: Hotfix, Core

#17942 Update icon guidelines
  src/icons/README.md
  src/icons/build-icons/Gruntfile.js
  src/icons/build-icons/package.json
  src/icons/build-icons/readme.md
Labels: Project management

#17890 NSIS: Update Indonesian translation
  dist/windows/installer-translations/indonesian.nsi
Labels: Translations, NSIS

#17946 Fix checked-completed icon visibility in dark theme
  src/icons/checked-completed.svg
  src/webui/www/private/images/checked-completed.svg
Labels: Look and feel

#17950 Correctly initialize torrent stop condition
  src/base/bittorrent/torrentimpl.h
Labels: Hotfix, Core

#17951 Prevent new torrent from saving resume data twice
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#17954 Raise minimum libtorrent versions to `1.2.18/2.0.8`
  CMakeLists.txt
  INSTALL
  configure
  configure.ac
  src/base/bittorrent/sessionimpl.h
Labels: Core, Build system

#17953 Avoid out-of-bounds access
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentinfo.cpp
Labels: Core
