Repository qbittorrent/qBittorrent, pull requests merged in 2022-09, with the labels that each got.

#17631 Proactively append extension to incomplete files
  src/base/bittorrent/filesearcher.cpp
  src/base/bittorrent/filesearcher.h
  src/base/bittorrent/sessionimpl.cpp
Labels: Performance, Core

#17639 Parse torrent info separately from resume data
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#17640 Cache download/upload limit values
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Core

#17651 GHA CI: treat compile warnings as errors
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#17664 Allow 'Export .torrent' tooltip to be translatable
  src/gui/transferlistwidget.cpp
Labels: Translations

#17665 Avoid string lookup when setting row color
  src/gui/properties/trackerlistwidget.cpp
Labels: GUI

#17670 Make strings translatable
  src/app/application.cpp
  src/webui/www/private/download.html
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/search.html
Labels: WebUI, Translations

#17611 Allow to pause a checking torrent from context menu
  src/gui/transferlistwidget.cpp
Labels: GUI

#17646 Add ability to run external program on torrent added
  src/app/application.cpp
  src/app/application.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Core, WebAPI

#17668 Handle more torrent conflicts
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#17669 Don't autofill background color on macOS
  src/gui/properties/propertieswidget.cpp
Labels: GUI

#17684 Allow to use subnet notation in reverse proxy list
  src/base/preferences.cpp
  src/base/utils/net.cpp
  src/base/utils/net.h
  src/gui/ipsubnetwhitelistoptionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: Network, WebUI

#17700 Don't reorder URLs when copied from the clipboard
  src/gui/downloadfromurldialog.cpp
Labels: GUI

#17654 Update org.qbittorrent.qBittorrent.desktop
  dist/unix/org.qbittorrent.qBittorrent.desktop
Labels: Code cleanup

#17701 WebUI: alert when HTTPS settings are incomplete
  src/webui/www/private/views/preferences.html
Labels: WebUI

#17720 WebAPI: fix wrong behavior for shutdown action
  src/webui/api/appcontroller.cpp
Labels: WebAPI

#17713 Revise 'Add trackers' dialog
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/trackerentry.cpp
  src/base/bittorrent/trackerentry.h
  src/gui/properties/trackerlistwidget.cpp
  src/gui/properties/trackerlistwidget.h
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/properties/trackersadditiondialog.h
  src/gui/properties/trackersadditiondialog.ui
  src/gui/trackerentriesdialog.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/addtrackers.html
  src/webui/www/private/index.html
  src/webui/www/private/scripts/prop-trackers.js
  test/CMakeLists.txt
  test/testbittorrenttrackerentry.cpp
Labels: GUI

#17725 Clean up 'recursive download' related code
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/optionsdialog.cpp
Labels: Code cleanup

#17736 Improve docker documentation
  dist/docker/Readme.md
Labels: Documentation, Docker

#17723 Fixes "Open destination folder" delay on Windows
  src/gui/utils.cpp
Labels: OS: Windows

#17737 Use proper color for highlighted text in log widget
  src/gui/log/loglistview.cpp
  src/gui/utils.cpp
  src/gui/utils.h
Labels: GUI

#17765 Fix 'Filter Sidebar' size restored incorrectly
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/transferlistfilterswidget.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Translations

#17755 Avoid blocking call when save resume data
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Performance, Core

#17779 Improve session statistics handling
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/sessionstatus.h
  src/base/bittorrent/statistics.cpp
  src/base/bittorrent/statistics.h
  src/gui/statsdialog.cpp
  src/webui/api/synccontroller.cpp
Labels: Core
