Repository qbittorrent/qBittorrent, pull requests merged in 2022-06, with the labels that each got.

#16344 Add "Filter files" field in new torrent dialog
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/addnewtorrentdialog.ui
Labels: GUI

#17148 Fix wrong dialog sizes on first start up
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/aboutdialog.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/banlistoptionsdialog.cpp
  src/gui/cookiesdialog.cpp
  src/gui/downloadfromurldialog.cpp
  src/gui/ipsubnetwhitelistoptionsdialog.cpp
  src/gui/mainwindow.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/previewselectdialog.cpp
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.h
  src/gui/search/pluginselectdialog.cpp
  src/gui/search/pluginsourcedialog.cpp
  src/gui/search/searchwidget.cpp
  src/gui/speedlimitdialog.cpp
  src/gui/statsdialog.cpp
  src/gui/torrentcreatordialog.cpp
  src/gui/torrentoptionsdialog.cpp
  src/gui/trackerentriesdialog.cpp
  src/gui/watchedfolderoptionsdialog.cpp
Labels: GUI

#17155 Fix rate calculation when interval is too low
  src/base/bittorrent/session.cpp
Labels: Core

#17180 Remove usage of QTextStream
  src/app/cmdoptions.cpp
  src/base/torrentfileswatcher.cpp
  src/gui/properties/piecesbar.cpp
  src/gui/search/searchwidget.cpp
  src/gui/utils.cpp
  src/gui/utils.h
Labels: Code cleanup

#16357 Do RSS serializing on worker thread
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/rss/feed_serializer.cpp
  src/base/rss/feed_serializer.h
  src/base/rss/rss_feed.cpp
  src/base/rss/rss_feed.h
  src/base/rss/rss_session.cpp
Labels: RSS

#17106 Add file name filter/blacklist
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrentimpl.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Core

#17157 Add support for custom SMTP ports
  src/base/net/smtp.cpp
Labels: Network

#17195 GHA CI: "file health" update `pre-commit` action to `v3.0.0`
  .github/workflows/ci_file_health.yaml
  .pre-commit-config.yaml
Labels: CI

#17187 Fix wrong file names displayed in tooltip
  src/app/filelogger.cpp
  src/gui/properties/piecesbar.cpp
Labels: GUI

#17202 Fix wrong file names displayed in tooltip (backport)
  src/gui/properties/piecesbar.cpp
Labels: Backport

#17206 Add checkbox for "Excluded file names"
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, WebAPI

#16376 Cache last traverse result while parsing file tree
  src/gui/torrentcontentmodel.cpp
Labels: GUI

#17212 Use proper method for manipulating text
  src/webui/www/private/scripts/download.js
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/public/scripts/login.js
Labels: WebUI

#17228 WebAPI: Add endpoint to set speed limit mode
  src/webui/api/transfercontroller.cpp
  src/webui/api/transfercontroller.h
  src/webui/webapplication.h
Labels: WebAPI

#17227 Improve RSS subsystem initialization
  src/base/rss/feed_serializer.cpp
  src/base/rss/rss_article.cpp
  src/base/rss/rss_article.h
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_feed.cpp
  src/base/rss/rss_feed.h
  src/base/rss/rss_parser.cpp
  src/base/rss/rss_parser.h
Labels: RSS, Hotfix, Code cleanup

#17233 Add shutdown logging
  src/app/application.cpp
  src/app/filelogger.cpp
  src/base/bittorrent/statistics.cpp
  src/base/bittorrent/statistics.h
  src/base/logger.cpp
  src/gui/log/logmodel.cpp
Labels: Hotfix, Core

#17222 NSIS: Update Portuguese translations
  dist/windows/installer-translations/portuguese.nsi
Labels: NSIS

#17252 Fix max outgoing port setting incorrectly
  src/base/bittorrent/session.cpp
Labels: Core

#17258 Improve Web UI progress bar rendering
  src/webui/www/private/css/style.css
Labels: WebUI

#17261 Remove unnecessary force reannounce on interface alerts
  src/base/bittorrent/session.cpp
Labels: Core

#17282 Improve D-Bus notifications handling
  src/gui/CMakeLists.txt
  src/gui/gui.pri
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/notifications/dbusnotificationsinterface.cpp
  src/gui/notifications/dbusnotificationsinterface.h
  src/gui/notifications/dbusnotifier.cpp
  src/gui/notifications/dbusnotifier.h
  src/gui/qtnotify/notifications.cpp
  src/gui/qtnotify/notifications.h
  src/gui/qtnotify/notifications.xml
Labels: OS: Linux, GUI, Code cleanup
