Repository qbittorrent/qBittorrent, pull requests merged in 2022-08, with the labels that each got.

#17448 Revise Docker document
  dist/docker/Readme.md
Labels: Docker

#17464 Prevent multiple session refreshes from being enqueued
  src/base/bittorrent/session.cpp
Labels: Hotfix, Core

#17465 Clear RSS parsing error after use
  src/base/rss/rss_parser.cpp
Labels: RSS

#17476 Clear RSS parsing error after use
  src/base/rss/rss_parser.cpp
Labels: RSS, Backport

#17471 Improve constructor of Version class
  src/base/utils/version.h
  src/gui/utils.cpp
  test/CMakeLists.txt
  test/testutilsversion.cpp
Labels: Core, Unit test

#17389 Show startup progress dialog
  src/app/application.cpp
  src/app/application.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: GUI

#17490 Add keyboard shortcut to Download URL dialog
  src/gui/downloadfromurldialog.cpp
  src/gui/downloadfromurldialog.h
Labels: GUI

#17484 Redesign Version class
  src/base/search/searchpluginmanager.cpp
  src/base/search/searchpluginmanager.h
  src/base/utils/foreignapps.cpp
  src/base/utils/foreignapps.h
  src/base/utils/version.h
  src/gui/programupdater.cpp
  src/gui/utils.cpp
  src/webui/webapplication.h
  test/testutilsversion.cpp
Labels: Core, Unit test

#17491 Fill in initial data in `add_torrent_alert` handler
  src/base/bittorrent/nativesessionextension.cpp
  src/base/bittorrent/nativetorrentextension.cpp
Labels: Core

#17196 Update `ax_boost_base.m4` to latest version
  configure
  m4/ax_boost_base.m4
Labels: Build system

#17498 Avoid race conditions between dialogs on startup
  src/app/application.cpp
  src/gui/mainwindow.cpp
Labels: GUI, Hotfix

#17516 Show progress dialog on second instance run
  src/app/application.cpp
Labels: GUI, Hotfix

#17515 Revise quote behavior
  src/app/application.cpp
Labels: Hotfix, Core

#17098 NSIS - Update Italian language
  dist/windows/installer-translations/italian.nsi
Labels: NSIS

#17535 GHA CI: switch to Ubuntu latest stable version
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yml
Labels: CI

#17548 Set HTTP method restriction on WebAPI actions
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebAPI

#17549 Set HTTP method restriction on WebAPI actions
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: Backport

#17336 WebUI: Improve pieces bar drawing algorithm
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/views/properties.html
  src/webui/www/webui.qrc
Labels: WebUI

#17547 NSIS - Update Korean language
  dist/windows/installer-translations/korean.nsi
Labels: Translations, NSIS

#17563 Restrict more WebAPI endpoints to POST method only
  src/webui/webapplication.h
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
Labels: WebUI, WebAPI

#17529 NSIS: update Latvian
  dist/windows/installer-translations/latvian.nsi
Labels: Translations, NSIS

#17568 GHA CI: bump "Install Qt" action version
  .github/workflows/ci_file_health.yaml
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yml
Labels: CI

#17544 Add unit testing for Path class
  src/base/path.cpp
  test/CMakeLists.txt
  test/testpath.cpp
Labels: Core, Unit test

#17586 Rephrase `confirm deletion` dialog
  src/gui/deletionconfirmationdialog.cpp
  src/gui/deletionconfirmationdialog.ui
  src/webui/www/private/confirmdeletion.html
Labels: WebUI, GUI

#17578 Fix icon in WebUI being trimmed
  src/icons/collapse.svg
  src/webui/www/private/css/Layout.css
Labels: WebUI

#17576 Handle some torrent conflicts
  src/base/bittorrent/infohash.cpp
  src/base/bittorrent/infohash.h
  src/base/bittorrent/session.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/torrentimpl.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/torrentoptionsdialog.cpp
  src/webui/api/synccontroller.cpp
  src/webui/api/torrentscontroller.cpp
Labels: Core

#17593 Use proper verb when referring to torrent removal
  src/gui/categoryfilterwidget.cpp
  src/gui/deletionconfirmationdialog.ui
  src/gui/mainwindow.ui
  src/gui/tagfilterwidget.cpp
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistwidget.cpp
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/index.html
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI, GUI

#17606 Fix missing trackers from magnet link
  src/base/bittorrent/session.cpp
Labels: Core

#17579 Split Session class into interface/implementation parts
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/bittorrent/nativesessionextension.cpp
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/statistics.cpp
  src/base/bittorrent/statistics.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/gui/categoryfiltermodel.cpp
  src/gui/properties/propertieswidget.cpp
  src/gui/transferlistmodel.cpp
  src/webui/api/transfercontroller.cpp
Labels: Core, Code cleanup

#17621 Apply forward declaration
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/properties/peerlistwidget.cpp
  src/webui/api/synccontroller.cpp
  src/webui/api/transfercontroller.cpp
Labels: Code cleanup

#17519 Let Qt handle system tray icon availability
  src/gui/desktopintegration.cpp
  src/gui/desktopintegration.h
  src/gui/mainwindow.cpp
Labels: GUI
