Repository qbittorrent/qBittorrent, pull requests merged in 2023-10, with the labels that each got.

#19668 Double check whether database needs to be updated
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#19670 Improve GUI behavior when adding multiple torrents
  src/gui/guiaddtorrentmanager.cpp
Labels: GUI

#19675 Add support for Mark-of-the-Web
  src/base/bittorrent/torrentimpl.cpp
  src/base/net/downloadhandlerimpl.cpp
  src/base/utils/misc.cpp
  src/base/utils/misc.h
Labels: OS: Windows

#19672 Add separate filter item for tracker errors
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/gui/transferlistfilters/trackersfilterwidget.h
Labels: GUI, Code cleanup

#19681 Allow to remove tracker from tracker filter widget menu
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/gui/transferlistfilters/trackersfilterwidget.h
Labels: GUI

#19700 Add I2P settings to WebUI
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, WebAPI

#19699 GHA CI: Update numerous pre-commit revisions and fixed typo
  .pre-commit-config.yaml
  dist/windows/config.nsi
Labels: Code cleanup, CI

#19595 Display download/upload speed in dock icon
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/CMakeLists.txt
  src/gui/macosdockbadge/badger.h
  src/gui/macosdockbadge/badger.mm
  src/gui/macosdockbadge/badgeview.h
  src/gui/macosdockbadge/badgeview.mm
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: OS: macOS, GUI

#19696 Fix WebUI greeting for `qbittorrent-nox`
  src/app/application.cpp
  src/base/http/server.cpp
  src/base/http/server.h
  src/webui/webui.cpp
  src/webui/webui.h
Labels: WebUI

#19709 Improve .torrent associate handling
  dist/windows/installer.nsi
  dist/windows/uninstaller.nsi
  src/app/application.cpp
  src/base/CMakeLists.txt
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/misc.cpp
  src/base/utils/os.cpp
  src/base/utils/os.h
  src/gui/optionsdialog.cpp
Labels: OS: Windows, NSIS

#19710 GHA CI: use proper git URL
  .pre-commit-config.yaml
Labels: CI

#19713 Forward declare "Add torrent manager" type
  src/base/addtorrentmanager.h
  src/base/interfaces/iapplication.h
  src/webui/api/torrentscontroller.cpp
Labels: Code cleanup

#19718 CI: Use dynamic MSVC run-time library
  .github/workflows/ci_windows.yaml
  src/app/cmdoptions.cpp
Labels: CI

#19719 Backport "Improve .torrent associate handling"
  dist/windows/installer.nsi
  dist/windows/uninstaller.nsi
  src/app/application.cpp
  src/base/CMakeLists.txt
  src/base/base.pri
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/misc.cpp
  src/base/utils/os.cpp
  src/base/utils/os.h
  src/gui/optionsdialog.cpp
Labels: Backport

#19730 Combine CSS properties
  src/webui/www/private/css/style.css
Labels: WebUI, Code cleanup

#19446 Allow to set qBittorrent as default program
  dist/windows/installer.nsh
  dist/windows/uninstaller.nsh
  src/app/application.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/os.cpp
  src/base/utils/os.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
Labels: OS: Windows, NSIS

#19792 Prevent crash due to race condition when adding magnet link
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#19787 Fix Enter key behavior when add new torrent
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcontentwidget.cpp
  src/gui/torrentcontentwidget.h
Labels: GUI

#19779 WebUI: Fix duplicate scrollbar on Transfer List
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#19804 Add support for quarantine on macOS
  src/base/CMakeLists.txt
  src/base/bittorrent/torrentimpl.cpp
  src/base/net/downloadhandlerimpl.cpp
  src/base/utils/misc.cpp
  src/base/utils/misc.h
Labels: OS: Windows, OS: macOS

#19805 Remove "Physical memory (RAM) usage limit" option on macOS
  src/app/application.cpp
  src/app/application.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
Labels: OS: macOS

#19814 Fix invisible tray icon with Qt5 in Linux
  src/gui/desktopintegration.cpp
Labels: OS: Linux, GUI

#19815 Add missing Window icon
  src/icons/icons.qrc
Labels: OS: Linux, GUI

#19825 Don't forget to delete TorrentContentAdaptor instance
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
Labels: GUI
