Repository qbittorrent/qBittorrent, pull requests merged in 2023-01, with the labels that each got.

#18326 WebUI: Improve hotkeys
  src/webui/www/private/scripts/client.js
Labels: WebUI

#18380 WebUI: Add missing icons
  src/webui/www/private/images/folder-documents.svg
  src/webui/www/private/images/task-reject.svg
  src/webui/www/webui.qrc
Labels: WebUI

#18357 WebUI: Add "Resume data storage type" option
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: WebUI, WebAPI

#18214 Allow to modify default UI theme
  src/gui/uithememanager.cpp
Labels: GUI

#18296 Add all torrents passed via the command line
  src/app/application.cpp
  src/app/application.h
Labels: Hotfix, Core

#18367 Remove confusing helpers from Session interface
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/mainwindow.cpp
Labels: Hotfix, Core, Code cleanup

#18387 Fix startup performance on Qt5
  src/base/bittorrent/resumedatastorage.cpp
  src/base/bittorrent/resumedatastorage.h
  src/base/bittorrent/sessionimpl.cpp
Labels: Hotfix, Core

#18290 WebUI: Add log viewer
  .pre-commit-config.yaml
  AUTHORS
  src/webui/www/.prettierignore
  src/webui/www/.stylelintrc.json
  src/webui/www/private/css/lib/vanillaSelectBox.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/lib/vanillaSelectBox.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/logTabs.html
  src/webui/www/webui.qrc
Labels: WebUI

#18110 Fix Pause Icon
  src/icons/torrent-stop.svg
Labels: Look and feel

#18285 WebUI: disable "auto complete" for torrent search input
  src/webui/www/private/views/search.html
Labels: WebUI

#18269 Provide scaled pixmaps by UIThemeManager
  src/gui/aboutdialog.cpp
  src/gui/optionsdialog.cpp
  src/gui/speedlimitdialog.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
  src/gui/utils.cpp
  src/gui/utils.h
Labels: GUI, Code cleanup

#18384 WebAPI: Allow to specify session cookie name
  src/base/preferences.cpp
  src/base/preferences.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebAPI

#18431 Drop extra semicolon
  src/gui/windowstate.h
Labels: Hotfix, Code cleanup

#18250 Reload system tray icon to replace menu
  src/app/application.cpp
  src/gui/desktopintegration.cpp
  src/gui/desktopintegration.h
  src/gui/mainwindow.cpp
Labels: OS: Linux, GUI, Hotfix, Code cleanup

#18434 NSIS: Update Lithuanian translation
  dist/windows/installer-translations/lithuanian.nsi
Labels: Translations, NSIS

#18271 Backport changes to v4.5.x branch
  src/app/application.cpp
  src/app/application.h
  src/base/bittorrent/resumedatastorage.cpp
  src/base/bittorrent/resumedatastorage.h
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/categoryfiltermodel.cpp
  src/gui/categoryfilterwidget.cpp
  src/gui/desktopintegration.cpp
  src/gui/desktopintegration.h
  src/gui/executionlogwidget.cpp
  src/gui/mainwindow.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/proptabbar.cpp
  src/gui/properties/trackerlistwidget.cpp
  src/gui/properties/trackersadditiondialog.cpp
  src/gui/rss/articlelistwidget.cpp
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/feedlistwidget.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchwidget.cpp
  src/gui/statusbar.cpp
  src/gui/tagfiltermodel.cpp
  src/gui/tagfilterwidget.cpp
  src/gui/torrentcategorydialog.cpp
  src/gui/torrentcategorydialog.ui
  src/gui/torrentcontentmodel.cpp
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistmodel.cpp
  src/gui/transferlistwidget.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
  src/icons/browser-cookies.svg
  src/icons/filter-stalled.svg
  src/icons/view-refresh.svg
  src/webui/api/appcontroller.cpp
  src/webui/api/freediskspacechecker.h
  src/webui/api/synccontroller.cpp
  src/webui/api/synccontroller.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/images/filter-stalled.svg
  src/webui/www/private/images/folder-documents.svg
  src/webui/www/private/images/task-reject.svg
  src/webui/www/private/images/view-refresh.svg
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
  src/webui/www/webui.qrc
Labels: Backport

#18455 Suppress warning when session cookie name isn't overridden
  src/app/application.cpp
  src/webui/webapplication.cpp
Labels: Hotfix, WebAPI, Code cleanup

#18456 Fix PDB loading for valid stacktraces
  dist/windows/installer.nsi
  src/app/main.cpp
Labels: OS: Windows, NSIS

#18466 Use previous color for pause icon for indicating status
  src/gui/transferlistfilterswidget.cpp
  src/gui/transferlistmodel.cpp
  src/icons/icons.qrc
  src/icons/stopped.svg
  src/webui/www/private/images/stopped.svg
  src/webui/www/private/images/torrent-stop.svg
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/filters.html
  src/webui/www/webui.qrc
Labels: WebUI, GUI
