Repository qbittorrent/qBittorrent, pull requests merged in 2023-06, with the labels that each got.

#19027 Sync flag icons with upstream
  src/icons/flags/ag.svg
  src/icons/flags/al.svg
  src/icons/flags/bl.svg
  src/icons/flags/cu.svg
  src/icons/flags/dg.svg
  src/icons/flags/do.svg
  src/icons/flags/es-pv.svg
  src/icons/flags/fr.svg
  src/icons/flags/ge.svg
  src/icons/flags/gf.svg
  src/icons/flags/gp.svg
  src/icons/flags/gr.svg
  src/icons/flags/hk.svg
  src/icons/flags/id.svg
  src/icons/flags/io.svg
  src/icons/flags/jp.svg
  src/icons/flags/kz.svg
  src/icons/flags/mf.svg
  src/icons/flags/mq.svg
  src/icons/flags/my.svg
  src/icons/flags/np.svg
  src/icons/flags/pm.svg
  src/icons/flags/re.svg
  src/icons/flags/sa.svg
  src/icons/flags/tn.svg
  src/icons/flags/us.svg
  src/icons/flags/wf.svg
  src/icons/flags/yt.svg
  src/icons/flags/za.svg
  src/icons/icons.qrc
  src/webui/www/private/images/flags/ag.svg
  src/webui/www/private/images/flags/al.svg
  src/webui/www/private/images/flags/bl.svg
  src/webui/www/private/images/flags/cu.svg
  src/webui/www/private/images/flags/dg.svg
  src/webui/www/private/images/flags/do.svg
  src/webui/www/private/images/flags/es-pv.svg
  src/webui/www/private/images/flags/fr.svg
  src/webui/www/private/images/flags/ge.svg
  src/webui/www/private/images/flags/gf.svg
  src/webui/www/private/images/flags/gp.svg
  src/webui/www/private/images/flags/gr.svg
  src/webui/www/private/images/flags/hk.svg
  src/webui/www/private/images/flags/id.svg
  src/webui/www/private/images/flags/io.svg
  src/webui/www/private/images/flags/jp.svg
  src/webui/www/private/images/flags/kz.svg
  src/webui/www/private/images/flags/mf.svg
  src/webui/www/private/images/flags/mq.svg
  src/webui/www/private/images/flags/my.svg
  src/webui/www/private/images/flags/np.svg
  src/webui/www/private/images/flags/pm.svg
  src/webui/www/private/images/flags/re.svg
  src/webui/www/private/images/flags/sa.svg
  src/webui/www/private/images/flags/tn.svg
  src/webui/www/private/images/flags/us.svg
  src/webui/www/private/images/flags/wf.svg
  src/webui/www/private/images/flags/yt.svg
  src/webui/www/private/images/flags/za.svg
  src/webui/www/webui.qrc
Labels: GUI

#19058 Fix incorrect height of Filter line edit
  src/gui/mainwindow.cpp
Labels: GUI, Hotfix

#19030 AppVeyor update config
  .appveyor.yml
Labels: CI

#19052 WebUI: Set Connection status and Speed limits tooltips
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
Labels: WebUI

#19068 Remove SGML parser
  src/base/search/searchpluginmanager.cpp
  src/searchengine/nova3/sgmllib3.py
  src/searchengine/searchengine.qrc
Labels: Search engine

#19069 WebUI: use natural sort on tracker list
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
Labels: WebUI

#19067 Allow to disable confirmation of Pause/Resume All
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/transferlistwidget.cpp
Labels: GUI

#19000 Allow to assign priority to RSS download rule
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloader.h
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_autodownloadrule.h
  src/gui/mainwindow.cpp
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/automatedrssdownloader.ui
  src/webui/api/rsscontroller.cpp
Labels: RSS

#19062 Use hostname instead of domain name in tracker filter list
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/webui/www/private/scripts/client.js
Labels: WebUI, GUI

#19079 Make I2P session options configurable
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
Labels: GUI, Core

#19120 Provide context field to translation strings
  src/app/cmdoptions.cpp
  src/app/main.cpp
  src/app/upgrade.cpp
Labels: Code cleanup

#19095 Don't read unlimited data from files
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/rss/feed_serializer.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_session.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/torrentfileswatcher.cpp
  src/base/utils/io.cpp
  src/base/utils/io.h
  src/gui/aboutdialog.cpp
  src/gui/optionsdialog.cpp
  src/gui/previewselectdialog.cpp
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/uithemedialog.cpp
  src/gui/uithemesource.cpp
  src/gui/utils.cpp
  src/webui/webapplication.cpp
  src/webui/webui.cpp
  test/CMakeLists.txt
  test/testdata/size10.txt
  test/testutilsio.cpp
Labels: Core

#19157 WebUI: set Cross Origin Opener Policy to `same-origin`
  src/base/http/types.h
  src/webui/webapplication.cpp
Labels: WebUI

#19200 Fix transfer list tab hotkey
  src/gui/mainwindow.cpp
Labels: GUI

#19190 Add alternative shortcut CTRL+E for CTRL+F
  src/gui/mainwindow.cpp
  src/gui/search/searchwidget.cpp
Labels: GUI

#19207 Drop I2P support with libtorrent 1.2
  src/base/bittorrent/peerinfo.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/optionsdialog.cpp
Labels: GUI, Core

#19208 Avoid unnecessary memory allocation/relocation
  src/base/http/connection.cpp
  src/base/http/requestparser.cpp
  src/base/net/smtp.cpp
  src/base/path.cpp
Labels: Network, Code cleanup

#19196 NSIS: Fix missing slash in Qt translations script
  dist/windows/gather_qt_translations.py
Labels: OS: Windows, NSIS

#19213 Fix various typos
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/rss/rss_parser.cpp
  src/gui/notifications/dbusnotifier.cpp
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/rename-files.js
Labels: Code cleanup

#19221 Don't miss to enable Apply button
  src/gui/optionsdialog.cpp
Labels: GUI

#19220 Immediately update torrent status on moving files
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
Labels: GUI, Core

#19199 Disable symlink resolving in Torrent creator
  src/gui/torrentcreatordialog.cpp
Labels: GUI
