Repository qbittorrent/qBittorrent, pull requests merged in 2023-11, with the labels that each got.

#19822 Fix .torrent file upload on iPadOS
  src/webui/www/private/upload.html
Labels: OS: macOS, WebUI

#19827 Update size of selected files when selection is changed
  src/gui/addnewtorrentdialog.cpp
Labels: GUI

#19829 Correctly handle changing save path of torrent w/o metadata
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#19831 Allow to request torrents count via WebAPI
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/webapplication.h
Labels: WebAPI

#19833 Fix incorrect subcategory sorting in WebUI
  src/webui/www/private/scripts/client.js
Labels: WebUI

#19830 NSIS: Fix typo in Hungarian translation
  dist/windows/installer-translations/hungarian.nsh
Labels: Translations, NSIS

#19821 Use appropriate icon for "moving" torrents in transfer list
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Look and feel, GUI

#19842 Keep unwanted files in separate folder
  src/base/bittorrent/common.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Core

#19865 Drop support for 32-bit Windows
  src/app/CMakeLists.txt
  src/gui/advancedsettings.cpp
  src/gui/mainwindow.cpp
Labels: Code cleanup

#19867 GHA CI: speed up boost installation
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#19870 WebUI: Add "Moving" filter to side panel
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/filters.html
Labels: WebUI

#19855 Improve free disk space checking for WebAPI
  src/webui/CMakeLists.txt
  src/webui/api/synccontroller.cpp
  src/webui/api/synccontroller.h
  src/webui/freediskspacechecker.cpp
  src/webui/freediskspacechecker.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: WebAPI

#19874 Add option to enable previous Add new torrent dialog behavior
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
Labels: GUI

#19894 WebUI: Remove extra ')' in QBT_TR macro
  src/webui/www/private/rename_files.html
Labels: WebUI

#19777 Drop WebUI default credentials
  src/app/application.cpp
  src/app/application.h
  src/app/cmdoptions.cpp
  src/app/cmdoptions.h
  src/base/interfaces/iapplication.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/password.cpp
  src/base/utils/password.h
  src/gui/ipsubnetwhitelistoptionsdialog.cpp
  src/gui/mainwindow.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/api/authcontroller.cpp
  src/webui/api/authcontroller.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/webui.cpp
  src/webui/webui.h
Labels: WebUI, Code cleanup

#19916 WebUI: Correctly set save path in RSS rules
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, RSS

#19918 WebUI: Minor optimizations to the login page
  src/webui/www/public/index.html
  src/webui/www/public/scripts/login.js
Labels: WebUI

#19920 Use natural sort for categories
  src/webui/www/private/scripts/client.js
Labels: WebUI

#19919 Improve performance of getting torrent numbers via WebAPI
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#19926 Add option to enable ".unwanted" folder
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Core, WebAPI

#19924 Improve Torrent files watcher internals
  src/base/torrentfileswatcher.cpp
  src/base/torrentfileswatcher.h
Labels: Watched folders

#19751 Backport changes to v4.6.x branch
  .github/workflows/ci_windows.yaml
  src/app/application.cpp
  src/app/application.h
  src/app/cmdoptions.cpp
  src/app/cmdoptions.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/interfaces/iapplication.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/base/utils/password.cpp
  src/base/utils/password.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/ipsubnetwhitelistoptionsdialog.cpp
  src/gui/mainwindow.cpp
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/gui/previewlistdelegate.cpp
  src/gui/previewlistdelegate.h
  src/gui/previewselectdialog.cpp
  src/gui/previewselectdialog.h
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.ui
  src/gui/torrentcontentwidget.cpp
  src/gui/torrentcontentwidget.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/icons/icons.qrc
  src/webui/CMakeLists.txt
  src/webui/api/appcontroller.cpp
  src/webui/api/authcontroller.cpp
  src/webui/api/authcontroller.h
  src/webui/api/synccontroller.cpp
  src/webui/api/synccontroller.h
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/freediskspacechecker.cpp
  src/webui/freediskspacechecker.h
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/webui.cpp
  src/webui/webui.h
  src/webui/webui.pri
  src/webui/www/private/css/style.css
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/public/index.html
  src/webui/www/public/scripts/login.js
Labels: Backport

#19921 Set symbol visibility to hidden
  cmake/Modules/CommonConfig.cmake
Labels: Build system

#19942 Revert "Set symbol visibility to hidden"
  cmake/Modules/CommonConfig.cmake
Labels: Build system

#19947 Add timeouts to network requests
  src/base/net/downloadmanager.cpp
Labels: Network, Core

#19929 NSIS: Add Hebrew translation
  dist/windows/installer-translations/hebrew.nsh
Labels: Translations, NSIS

#19964 Remove incorrect assertions
  src/base/bittorrent/torrentimpl.cpp
Labels: Hotfix, Core

#19967 Fix parent widget of "Lock qBittorrent" submenu
  src/gui/mainwindow.cpp
Labels: GUI

#19959 Improve error message when daemonizing failed
  src/app/application.cpp
  src/app/application.h
  src/app/main.cpp
  src/base/utils/os.cpp
Labels: Core

#19970 Do not apply share limit if the previous one was applied
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#19963 Show Add new torrent dialog on main window screen
  src/gui/guiaddtorrentmanager.cpp
Labels: GUI

#19971 Simplify share ratio limits processing code
  src/base/bittorrent/sessionimpl.cpp
Labels: Core, Code cleanup

#20001 NSIS: Display correct Minimum Windows OS requirement
  dist/windows/installer-translations/afrikaans.nsh
  dist/windows/installer-translations/albanian.nsh
  dist/windows/installer-translations/arabic.nsh
  dist/windows/installer-translations/basque.nsh
  dist/windows/installer-translations/belarusian.nsh
  dist/windows/installer-translations/bosnian.nsh
  dist/windows/installer-translations/breton.nsh
  dist/windows/installer-translations/bulgarian.nsh
  dist/windows/installer-translations/catalan.nsh
  dist/windows/installer-translations/croatian.nsh
  dist/windows/installer-translations/czech.nsh
  dist/windows/installer-translations/danish.nsh
  dist/windows/installer-translations/dutch.nsh
  dist/windows/installer-translations/english.nsh
  dist/windows/installer-translations/esperanto.nsh
  dist/windows/installer-translations/estonian.nsh
  dist/windows/installer-translations/farsi.nsh
  dist/windows/installer-translations/finnish.nsh
  dist/windows/installer-translations/french.nsh
  dist/windows/installer-translations/galician.nsh
  dist/windows/installer-translations/german.nsh
  dist/windows/installer-translations/greek.nsh
  dist/windows/installer-translations/hebrew.nsh
  dist/windows/installer-translations/hungarian.nsh
  dist/windows/installer-translations/icelandic.nsh
  dist/windows/installer-translations/indonesian.nsh
  dist/windows/installer-translations/irish.nsh
  dist/windows/installer-translations/italian.nsh
  dist/windows/installer-translations/japanese.nsh
  dist/windows/installer-translations/korean.nsh
  dist/windows/installer-translations/kurdish.nsh
  dist/windows/installer-translations/latvian.nsh
  dist/windows/installer-translations/lithuanian.nsh
  dist/windows/installer-translations/luxembourgish.nsh
  dist/windows/installer-translations/macedonian.nsh
  dist/windows/installer-translations/malay.nsh
  dist/windows/installer-translations/mongolian.nsh
  dist/windows/installer-translations/norwegian.nsh
  dist/windows/installer-translations/norwegiannynorsk.nsh
  dist/windows/installer-translations/polish.nsh
  dist/windows/installer-translations/portuguese.nsh
  dist/windows/installer-translations/portugueseBR.nsh
  dist/windows/installer-translations/romanian.nsh
  dist/windows/installer-translations/russian.nsh
  dist/windows/installer-translations/serbian.nsh
  dist/windows/installer-translations/serbianlatin.nsh
  dist/windows/installer-translations/simpchinese.nsh
  dist/windows/installer-translations/slovak.nsh
  dist/windows/installer-translations/slovenian.nsh
  dist/windows/installer-translations/spanish.nsh
  dist/windows/installer-translations/spanishinternational.nsh
  dist/windows/installer-translations/swedish.nsh
  dist/windows/installer-translations/thai.nsh
  dist/windows/installer-translations/tradchinese.nsh
  dist/windows/installer-translations/turkish.nsh
  dist/windows/installer-translations/ukrainian.nsh
  dist/windows/installer-translations/uzbek.nsh
  dist/windows/installer-translations/welsh.nsh
  dist/windows/installer.nsh
Labels: OS: Windows, NSIS

#19969 Fix JS memory leak
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
Labels: WebUI

#20018 Disable stdout buffering for qbt-nox
  src/app/main.cpp
Labels: Core

#20030 Don't forget to update filter items
  src/gui/transferlistfilters/categoryfiltermodel.cpp
  src/gui/transferlistfilters/categoryfiltermodel.h
  src/gui/transferlistfilters/tagfiltermodel.cpp
  src/gui/transferlistfilters/tagfiltermodel.h
Labels: GUI, Code cleanup

#20045 Don't forget to store Stop condition
  src/base/bittorrent/addtorrentparams.cpp
Labels: Core
