Repository qbittorrent/qBittorrent, pull requests merged in 2023-03, with the labels that each got.

#18639 Prevent possible problem of using incomplete type
  src/base/net/downloadmanager.cpp
  src/base/net/downloadmanager.h
Labels: Hotfix, Core

#18638 Correctly check for database needs to be updated
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#18635 Apply adjacent changes within single transaction
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#18660 WebUI: Add "Add to top of queue" option
  src/webui/www/private/download.html
  src/webui/www/private/scripts/download.js
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
Labels: WebUI

#18676 NSIS: Add Slovak translation
  dist/windows/installer-translations/slovak.nsi
Labels: Translations, NSIS

#18600 Allow to filter torrent list by save path
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/transferlistmodel.h
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: GUI

#18687 GHA CI: add CodeQL scanning
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_webui.yaml
  .github/workflows/helper/codeql/cpp.yaml
  .github/workflows/helper/codeql/js.yaml
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/prop-files.js
Labels: CI

#18692 Prevent incorrect log message about torrent content deletion
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#18704 Improve finished torrent handling
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#18655 Provide UI Theme editor
  src/base/utils/fs.cpp
  src/base/utils/io.cpp
  src/gui/CMakeLists.txt
  src/gui/color.h
  src/gui/gui.pri
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/uithemecommon.h
  src/gui/uithemedialog.cpp
  src/gui/uithemedialog.h
  src/gui/uithemedialog.ui
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
  src/gui/uithemesource.cpp
  src/gui/uithemesource.h
Labels: GUI

#18710 Correctly initialize some GUI log elements in options as disabled
  src/gui/optionsdialog.cpp
Labels: GUI

#18709 Save UI Theme Dialog size
  src/gui/uithemedialog.cpp
  src/gui/uithemedialog.h
Labels: GUI

#18715 Delegate string hashing to standard library
  src/base/bittorrent/sessionimpl.cpp
  src/base/digest32.h
Labels: Code cleanup

#18726 Combine all the column filter related widgets
  src/gui/lineedit.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: GUI

#18727 Initialize a few groupboxes' check state after their children
  src/gui/optionsdialog.cpp
Labels: GUI

#18717 Add I2P support
  src/base/algorithm.h
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/peerlistwidget.h
Labels: GUI, Core

#18734 Reduce default file pool size
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#18733 Use tray icon from system theme only if option is set
  src/gui/desktopintegration.cpp
  src/gui/desktopintegration.h
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: OS: Linux, GUI, Code cleanup

#18753 Don't forget to clear I2P peer items
  src/gui/properties/peerlistwidget.cpp
Labels: GUI, Hotfix

#18771 Correctly handle redirections
  src/base/net/downloadmanager.cpp
Labels: RSS, Hotfix, Core

#18779 WebUI: Add checker for html
  src/webui/www/.htmlvalidate.json
  src/webui/www/.stylelintrc.json
  src/webui/www/package.json
  src/webui/www/private/addpeers.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/about.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI
