Repository qbittorrent/qBittorrent, pull requests merged in 2024-06, with the labels that each got.

#20907 Add required manifest field
  src/qbittorrent.exe.manifest
Labels: OS: Windows

#20923 Add optional headers to search request
  src/searchengine/nova3/helpers.py
Labels: Search engine

#20902 Apply filename filter to subfolder names as well
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/gui/addnewtorrentdialog.cpp
Labels: Core

#20917 Apply share limits when torrent downloading is finished
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Core

#20897 Revise Protocol column
  src/gui/trackerlist/trackerlistmodel.cpp
Labels: GUI

#20936 Don't use custom "file icon provider" on Windows
  src/gui/torrentcontentmodel.cpp
Labels: OS: Windows, GUI

#20833 WebAPI: Add "private" filter for 'info' endpoint
  src/base/torrentfilter.cpp
  src/base/torrentfilter.h
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
  src/webui/api/torrentscontroller.cpp
  src/webui/webapplication.h
Labels: WebAPI

#20928 WebUI: unify coding style
  src/webui/www/eslint.config.mjs
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/file-tree.js
  src/webui/www/private/scripts/filesystem.js
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI, Code cleanup

#20935 Add type annotations
  .github/workflows/ci_python.yaml
  src/searchengine/nova3/helpers.py
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/novaprinter.py
Labels: Search engine

#20944 Allow to use regular expression to filter torrent content
  src/gui/CMakeLists.txt
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/filterpatternformat.h
  src/gui/filterpatternformatmenu.cpp
  src/gui/filterpatternformatmenu.h
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.h
  src/gui/torrentcontentwidget.cpp
  src/gui/torrentcontentwidget.h
Labels: GUI

#20961 Improve connection handling
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/http/connection.cpp
  src/base/http/connection.h
  src/base/http/server.cpp
  src/gui/transferlistfilterswidget.cpp
Labels: Network

#20567 Show download progress for folders with zero byte size as 100 instead of 0
  src/gui/torrentcontentmodelfolder.cpp
Labels: GUI

#20976 Allow numeric types
  src/searchengine/nova3/novaprinter.py
Labels: Search engine, Hotfix

#20982 Use proper casting
  src/base/bittorrent/sessionimpl.cpp
Labels: Hotfix

#20969 WebUI: Use enabled search plugins by default
  src/webui/www/private/scripts/search.js
Labels: WebUI, Search engine

#20983 GHA CI: use static versions of AppImage builder
  .github/workflows/ci_ubuntu.yaml
Labels: CI

#20998 Use custom storage when reloading torrent
  src/base/bittorrent/customstorage.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#20990 WebUI: Fix preference name conflict
  src/webui/www/private/scripts/client.js
Labels: WebUI, Hotfix

#21006 Apply bulk changes to correct content widget items
  src/gui/torrentcontentwidget.cpp
Labels: GUI

#20968 Restore ability to use server-side translation by custom WebUI
  src/webui/webapplication.cpp
Labels: WebUI, Translations
