Repository qbittorrent/qBittorrent, pull requests merged in 2024-12, with the labels that each got.

#21924 WebUI: use native event listeners for keyboard events
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/installsearchplugin.html
Labels: WebUI, Code cleanup

#21949 Avoid redundant requests of announce entries from libtorrent
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Performance, Core

#21959 Use cached current time when parse RSS feed
  src/base/rss/rss_parser.cpp
  src/base/rss/rss_parser.h
Labels: Performance, RSS

#21944 Don't follow symlink when creating torrents
  src/base/bittorrent/torrentcreator.cpp
Labels: Core

#21920 NSIS: Update Italian translation
  dist/windows/installer-translations/italian.nsh
Labels: Translations, NSIS

#21946 WebUI: Replace Mootools class list manipulation methods
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferencesToolbar.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI

#21948 WebUI: Add missing icon to 'Queue' context menu item
  src/webui/www/private/index.html
Labels: WebUI, Look and feel

#21961 Use built-in method for setting header
  src/base/net/downloadmanager.cpp
Labels: Code cleanup

#21962 Remove unused variable
  src/gui/guiaddtorrentmanager.cpp
Labels: Code cleanup

#21963 Use proper data type for elapsed time
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Core, Code cleanup

#21958 Add eXact Length parameter when creating magnet URI
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21898 Backport changes to v5.0.x branch
  dist/windows/installer-translations/italian.nsh
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentcreator.cpp
  src/base/bittorrent/torrentdescriptor.cpp
  src/base/bittorrent/torrentdescriptor.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_parser.cpp
  src/base/rss/rss_parser.h
  src/gui/rss/htmlbrowser.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/torrentcreatorcontroller.cpp
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/public/scripts/login.js
Labels: Backport

#21972 Remove wrong conditional in Origin trustworthy check
  src/webui/webapplication.cpp
Labels: Hotfix, WebAPI

#21975 WebUI: Use vanilla JS to create elements
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/search.js
Labels: WebUI

#21995 Avoid race condition when update tracker entries
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Hotfix, Core

#22011 Avoid race condition when update tracker entries
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Backport

#21996 Sort grid items properly
  .github/workflows/ci_python.yaml
  .github/workflows/helper/pre-commit/check_grid_items_order.py
  .github/workflows/helper/pre-commit/check_translation_tag.py
  .pre-commit-config.yaml
  src/gui/aboutdialog.ui
  src/gui/addnewtorrentdialog.ui
  src/gui/banlistoptionsdialog.ui
  src/gui/ipsubnetwhitelistoptionsdialog.ui
  src/gui/optionsdialog.ui
  src/gui/properties/peersadditiondialog.ui
  src/gui/properties/propertieswidget.ui
  src/gui/rss/automatedrssdownloader.ui
  src/gui/statsdialog.ui
  src/gui/torrentcategorydialog.ui
  src/gui/torrentcreatordialog.ui
  src/gui/torrentoptionsdialog.ui
  src/gui/torrentsharelimitswidget.ui
  src/gui/trackersadditiondialog.ui
Labels: GUI, CI

#21999 Fix tab order in RSS widget
  src/gui/rss/rsswidget.cpp
  src/gui/rss/rsswidget.h
  src/gui/rss/rsswidget.ui
Labels: GUI

#21943 Resolve relative URLs within RSS article description
  src/gui/rss/rsswidget.cpp
Labels: RSS

#22020 GHA CI: Bump some pre-commit hook revs
  .pre-commit-config.yaml
Labels: CI

#22021 GHA CI: Update `pandoc` to latest
  .github/workflows/ci_file_health.yaml
Labels: CI

#22033 WebUI: Change filter inputs to type search
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/propertiesToolbar.html
  src/webui/www/private/views/search.html
Labels: WebUI

#22037 WebUI: migrate to fetch API
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/confirmAutoTMM.html
  src/webui/www/private/views/confirmRecheck.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/log.html
Labels: WebUI

#21632 NSIS: Update Portuguese translation
  dist/windows/installer-translations/portuguese.nsh
Labels: Translations, NSIS

#22035 Avoid redundant copy
  src/base/http/requestparser.cpp
Labels: Code cleanup

#22036 Simplify conversion to string
  src/base/bittorrent/torrentimpl.cpp
Labels: Code cleanup

#22048 WebUI: Use closest() to get parent element
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22051 WebUI: disallow unnecessary quotes in property name
  src/webui/www/eslint.config.mjs
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/file-tree.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/confirmAutoTMM.html
  src/webui/www/private/views/confirmRecheck.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/public/scripts/login.js
Labels: WebUI, Code cleanup

#22070 Improve Search engine
  src/searchengine/nova3/helpers.py
Labels: Search engine

#22071 Fix cannot remove trackers via WebAPI
  src/webui/api/torrentscontroller.cpp
Labels: Hotfix, Backport

#22072 WebUI: migrate to fetch API
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI

#22081 Revise DHT bootstrap node list
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#22082 WebUI: Replace getElement with querySelector
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/search.js
Labels: WebUI

#22083 WebUI: Remove redundant event listener
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI
