Repository qbittorrent/qBittorrent, pull requests merged in 2024-11, with the labels that each got.

#21722 Changelog upkeep
  Changelog
Labels: Project management

#21717 Remove trackers from previous category when moved to new one
  src/gui/transferlistfilters/trackersfilterwidget.cpp
Labels: GUI

#21735 Fix .torrent file could not be deleted when torrent is canceled
  src/base/addtorrentmanager.cpp
  src/base/addtorrentmanager.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/guiaddtorrentmanager.cpp
Labels: GUI, Core

#21613 WebUI: Add color scheme switcher
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21589 Create SECURITY.md
  SECURITY.md
Labels: Project management

#21729 Simplify tab handling in Search widget
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: GUI, Code cleanup

#21720 Handle Qt style names in a case insensitive way
  src/gui/optionsdialog.cpp
Labels: GUI

#21652 WebUI: Improve table overflow handling
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/search.html
Labels: WebUI

#21695 WebUI: Add tooltip to regex filter button
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
Labels: WebUI

#21731 WebUI: Hide context menu when clicking on a table row
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21752 Use proper macro for unreachable switch cases
  src/base/bittorrent/bandwidthscheduler.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/http/connection.cpp
  src/base/net/dnsupdater.cpp
  src/base/torrentfilter.cpp
  src/gui/advancedsettings.cpp
  src/gui/torrentcontentmodelitem.cpp
  src/gui/transferlistmodel.cpp
  src/webui/api/synccontroller.cpp
  src/webui/webapplication.cpp
Labels: Code cleanup

#21764 Optimize conversion of time points from libtorrent to Qt clocks
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
Labels: Performance, Core

#21753 Reduce dependency on Main Window
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Code cleanup

#21770 Optimize converting TCP endpoints to strings
  src/base/bittorrent/torrentimpl.cpp
Labels: Performance, Core

#21768 Optimize checking for outdated tracker endpoints
  src/base/bittorrent/torrentimpl.cpp
Labels: Performance, Core

#21771 Check real palette darkness to detect "dark theme"
  src/gui/uithememanager.cpp
Labels: GUI

#21744 WebUI: use Fetch API to login
  src/webui/www/public/css/login.css
  src/webui/www/public/scripts/login.js
Labels: WebUI

#21383 Display External IP Address in status bar
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/statusbar.cpp
  src/gui/statusbar.h
  src/webui/api/appcontroller.cpp
  src/webui/api/synccontroller.cpp
  src/webui/api/transfercontroller.cpp
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI

#21693 NSIS: Update Simplified Chinese translation
  dist/windows/installer-translations/simpchinese.nsh
Labels: Translations, NSIS

#21694 NSIS: Update Traditional Chinese translation
  dist/windows/installer-translations/tradchinese.nsh
Labels: Translations, NSIS

#21750 WebUI: fix color scheme for iframes
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/color-scheme.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/webui.qrc
Labels: WebUI

#21756 WebUI: Display torrent progress percentage in General tab
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/views/properties.html
Labels: WebUI

#21780 WebUI: Use modern class syntax to create LocalPreferences class
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI, Code cleanup

#21748 WebUI: Add color scheme switcher (v5_0_x)
  src/webui/www/private/css/palette.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/preferences.html
Labels: WebUI, Backport

#21808 Don't ignore SSL errors (v4_6_x)
  src/base/net/downloadmanager.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Security, Backport

#21784 Preserve initial torrent progress while checking resume data
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21809 WebUI: fix preferences class name
  src/webui/www/private/scripts/color-scheme.js
Labels: WebUI, Code cleanup

#21810 WebUI: fix color scheme for iframes (v5_0_x)
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/color-scheme.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/webui.qrc
Labels: WebUI, Backport

#21763 WebUI: Use thin scrollbars
  src/webui/www/private/css/style.css
Labels: WebUI

#21807 Avoid redundant string length scan
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/utils/string.cpp
  src/base/utils/string.h
Labels: Code cleanup

#21806 Avoid reapplying Mark-of-the-Web when it already exists
  src/base/utils/os.cpp
Labels: Core

#21804 WebUI: Always close one window
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21812 WebUI: Fix wrong log levels
  src/webui/www/private/views/log.html
Labels: WebUI

#21830 WebUI: fetch cached info early
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21831 WebUI: use native function to convert to numbers
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#21836 Don't apply Mark-of-the-Web on existing files
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21698 Backport changes in v5.0.x branch
  src/base/addtorrentmanager.cpp
  src/base/addtorrentmanager.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/utils/os.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/guiaddtorrentmanager.cpp
  src/gui/optionsdialog.cpp
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/gui/uithememanager.cpp
Labels: Backport

#21816 Remove wrong dependency on Main Window
  src/gui/mainwindow.cpp
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Code cleanup

#21829 WebUI: Use event delegation to handle common table events
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI

#21853 Improve the speed icons in the status bar
  src/icons/slow.svg
  src/icons/slow_off.svg
  src/icons/speedometer.svg
  src/webui/www/private/images/slow.svg
  src/webui/www/private/images/slow_off.svg
Labels: Look and feel

#21857 WebUI: Fix bug where you can't select RSS rules
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI

#21861 Avoid redundant string length function calls
  src/app/cmdoptions.cpp
  src/app/qtlocalpeer/qtlocalpeer.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/http/requestparser.cpp
  src/base/http/types.h
  src/base/net/geoipdatabase.cpp
  src/base/utils/fs.cpp
  src/base/utils/string.cpp
  src/base/utils/string.h
Labels: Code cleanup

#21862 WebUI: fix failed conversion to number
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Hotfix

#21863 Improve Python installation process
  src/gui/mainwindow.cpp
Labels: GUI

#21873 Discard obsolete "state update" events after torrent is reloaded
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21874 Fix incorrect SQL column definition
  src/base/bittorrent/dbresumedatastorage.cpp
Labels: Core

#21866 WebUI: Eliminate unnecessary Status filter list updates
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21872 Update link to news
  src/gui/mainwindow.cpp
Labels: GUI

#21696 WebUI: Display error when download fails
  src/webui/webapplication.cpp
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#21864 WebAPI: Add `forced` parameter to `torrents/add`
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#21891 WebUI: clean up fetch API usage
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/public/scripts/login.js
Labels: WebUI, Code cleanup

#21893 WebUI: ensure cached info are initialized properly
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21877 Verify hash of Python installer
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: OS: Windows, Search engine

#21904 Avoid repeatedly creating the same QDateTime values
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentdescriptor.cpp
  src/base/bittorrent/torrentdescriptor.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/base/rss/rss_parser.cpp
  src/gui/rss/htmlbrowser.cpp
  src/webui/api/serialize/serialize_torrent.cpp
Labels: Performance, Core

#21906 Avoid using QDateTime for announce timestamps
  src/base/CMakeLists.txt
  src/base/bittorrent/announcetimepoint.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/trackerentrystatus.h
  src/gui/trackerlist/trackerlistmodel.cpp
  src/gui/trackerlist/trackerlistmodel.h
Labels: Performance, Core

#21917 Don't add duplicate episodes to list of previously matched
  src/base/rss/rss_autodownloadrule.cpp
Labels: RSS

#21914 WebUI: Set base background color
  src/webui/www/private/css/style.css
Labels: WebUI

#21916 WebUI improvements
  src/webui/www/private/newcategory.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#21919 WebUI: fix window can not close regression
  src/webui/www/private/rename_files.html
  src/webui/www/private/views/confirmAutoTMM.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI, Hotfix
