Repository qbittorrent/qBittorrent, pull requests merged in 2024-08, with the labels that each got.

#21123 WebUI: Add ability to toggle alternating row colors in tables
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI

#21077 Don't reannounce when removing tracker via WebAPI
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#21118 Revise label text
  src/gui/addnewtorrentdialog.ui
  src/gui/optionsdialog.ui
  src/gui/torrentoptionsdialog.ui
  src/gui/torrenttagsdialog.cpp
  src/gui/transferlistfilters/tagfilterwidget.cpp
  src/gui/transferlistwidget.cpp
  src/webui/www/private/newtag.html
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI

#21136 WebUI: Highlight torrent category in context menu
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#21138 Enable adaptive step size for upload and download limits
  src/gui/optionsdialog.ui
  src/gui/speedlimitdialog.ui
  src/gui/torrentoptionsdialog.ui
Labels: GUI

#21147 WebUI: use native functions for event handling
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/preferencesToolbar.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#21150 Hide zero status filters when torrents removed
  src/gui/transferlistfilters/statusfilterwidget.cpp
Labels: GUI

#21152 Fix Incomplete Save Path cannot be changed for torrents without metadata
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21145 WebUI: Implement 'Auto hide zero status filters'
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21158 WebUI: Add missing columns in transfer list
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21148 WebUI: Clear trackerList on full update
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21163 WebUI: migrate away from inline HTML code
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
Labels: WebUI, Code cleanup

#21043 Add WebAPI for managing torrent WebSeeds
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/webapplication.h
Labels: WebAPI

#21175 WebUI: Allow to filter torrent list by save path
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21173 WebUI: Handle regex syntax error for torrent filtering
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21180 Revise quote escaping for translated strings in WebUI
  src/webui/webapplication.cpp
Labels: WebUI

#21179 WebUI: use native property to set styles
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI, Code cleanup

#21182 WebUI: fix wrong property for keyboard keys
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Hotfix

#21052 Add a flag about the peers are using NAT hole punching
  src/base/bittorrent/peerinfo.cpp
Labels: Core

#21188 WebUI: Always create generic filter items
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21035 Backport changes to v4.6.x branch
  src/base/bittorrent/torrentimpl.cpp
  src/base/net/downloadmanager.cpp
  src/gui/torrentcontentwidget.cpp
  src/gui/torrenttagsdialog.cpp
  src/gui/transferlistfilters/statusfilterwidget.cpp
  src/gui/transferlistwidget.cpp
  src/gui/utils.cpp
  src/gui/utils.h
  src/searchengine/nova3/helpers.py
  src/webui/www/private/scripts/client.js
  src/webui/www/private/views/rssDownloader.html
Labels: Backport

#21164 Backport changes to v5.0.x branch
  src/base/bittorrent/peerinfo.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/gui/properties/downloadedpiecesbar.cpp
  src/gui/properties/downloadedpiecesbar.h
  src/gui/properties/pieceavailabilitybar.cpp
  src/gui/properties/pieceavailabilitybar.h
  src/gui/properties/piecesbar.cpp
  src/gui/properties/piecesbar.h
  src/gui/transferlistfilters/statusfilterwidget.cpp
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: Backport

#21205 Bump WebAPI version
  src/webui/webapplication.h
Labels: Hotfix, WebAPI

#21184 Search helpers: Add POST support to `retrieve_url`
  src/searchengine/nova3/helpers.py
Labels: Search engine

#21162 WebUI: Add missing icons
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/Tabs.css
  src/webui/www/private/css/Window.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/palette.css
  src/webui/www/private/css/style.css
  src/webui/www/private/images/ip-blocked.svg
  src/webui/www/private/images/network-connect.svg
  src/webui/www/private/images/network-server.svg
  src/webui/www/private/images/peers.svg
  src/webui/www/private/images/plugins.svg
  src/webui/www/private/images/preferences-advanced.svg
  src/webui/www/private/images/preferences-bittorrent.svg
  src/webui/www/private/images/preferences-desktop.svg
  src/webui/www/private/images/preferences-webui.svg
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/logTabs.html
  src/webui/www/private/views/preferencesToolbar.html
  src/webui/www/private/views/propertiesToolbar.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/webui.qrc
Labels: WebUI

#21214 GHA CI: Bump Boost dependency
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#21215 WebUI: improve event handlers
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI

#21189 Refresh search results colors once color scheme is changed
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchjobwidget.h
Labels: Look and feel, GUI

#21224 Add link to 'List of alternative WebUI' wiki page in Options
  src/gui/optionsdialog.ui
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI

#21209 WebUI: Improve properties panel
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/properties.html
  src/webui/www/private/views/propertiesToolbar.html
Labels: WebUI

#21248 WebUI: Fix incorrectly backported code
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI

#21185 WebUI: Improve torrent deletion dialog
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/webui.qrc
Labels: WebUI

#21191 WebUI: Filter list improvements
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/filters.html
Labels: WebUI

#21223 WebUI: Provide 'Use Category paths in Manual Mode' option
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21236 WebUI: Don't apply hover / selection styles to flag icons
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
Labels: WebUI

#21259 Remove 'loopback address detection' helper function
  src/base/utils/net.cpp
  src/base/utils/net.h
  src/webui/webapplication.cpp
Labels: Code cleanup
