Repository qbittorrent/qBittorrent, pull requests merged in 2024-07, with the labels that each got.

#20906 WebUI: Implement path autocompletion
  src/webui/www/private/download.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/upload.html
  src/webui/www/private/views/preferences.html
  src/webui/www/webui.qrc
Labels: WebUI

#21000 Implement double-click behavior controls for the WebUI
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21024 Fix handling of tags containing '&' character
  src/gui/torrenttagsdialog.cpp
  src/gui/transferlistwidget.cpp
  src/gui/utils.cpp
  src/gui/utils.h
Labels: GUI

#21026 Show scroll bar in Torrent Tags dialog
  src/gui/torrenttagsdialog.cpp
Labels: GUI

#20951 Add ability to display torrent "privateness" in UI
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.ui
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistwidget.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
  src/webui/api/torrentscontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/views/properties.html
Labels: WebUI, GUI

#21030 WebUI: Correctly apply changed "save path" of RSS rules
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI

#21050 Prevent incorrect size from being used for creating array
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21007 WebUI: access attribute/property natively
  src/webui/www/private/addpeers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/public/scripts/login.js
Labels: WebUI, Code cleanup

#21012 WebUI: avoid redundant re-initialization
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/file-tree.js
  src/webui/www/private/scripts/filesystem.js
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI

#21041 Fix incorrect sorting by "private" column
  src/gui/transferlistsortmodel.cpp
  src/webui/api/synccontroller.cpp
Labels: Hotfix

#21066 WebAPI: Add root_path to torrent/info result
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
Labels: WebAPI

#21074 WebUI improvements
  src/webui/www/.htmlvalidate.json
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/about.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/properties.html
  src/webui/www/private/views/propertiesToolbar.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/statistics.html
  src/webui/www/public/index.html
Labels: WebUI

#21064 Bump Python version minimum requirement
  .github/workflows/ci_python.yaml
  INSTALL
  src/base/utils/foreignapps.cpp
  src/gui/mainwindow.cpp
Labels: Search engine

#21084 Represent by TorrentInfo only info-section related metadata
  src/base/bittorrent/torrentdescriptor.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/bittorrent/torrentinfo.h
  src/gui/addnewtorrentdialog.cpp
Labels: Core, Code cleanup

#21097 WebUI: Improve accessibility
  src/webui/www/.htmlvalidate.json
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/confirmdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/index.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/propertiesToolbar.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
Labels: WebUI

#21098 Clean up search engine
  src/base/search/searchpluginmanager.cpp
  src/searchengine/nova3/helpers.py
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/novaprinter.py
Labels: Search engine

#21117 WebUI: timer related clean ups
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/rss.html
Labels: WebUI

#21071 WebUI: remove deleted torrents even if they are currently filtered out
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21129 WebUI: fix accessing wrong variable
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI
