Repository qbittorrent/qBittorrent, pull requests merged in 2024-03, with the labels that each got.

#20293 Backport changes to v4.6.x branch
  src/base/CMakeLists.txt
  src/base/bittorrent/sessionimpl.cpp
  src/base/utils/compare.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.ui
  src/gui/optionsdialog.cpp
Labels: Backport

#20442 Improve WebUI login behavior
  src/webui/www/public/scripts/login.js
Labels: WebUI

#20487 GHA CI: disable security hardening flag
  .github/workflows/ci_windows.yaml
Labels: CI

#19943 NSIS: Add Luxembourgish translation
  dist/windows/installer-translations/luxembourgish.nsh
Labels: Translations, NSIS

#20485 Correctly handle share limits in torrent options dialog
  src/gui/addtorrentparamswidget.cpp
  src/gui/torrentoptionsdialog.cpp
  src/gui/torrentoptionsdialog.h
  src/gui/torrentoptionsdialog.ui
  src/gui/torrentsharelimitswidget.cpp
  src/gui/torrentsharelimitswidget.h
Labels: GUI

#20518 Switch to lightweight function for filtering data
  src/gui/log/logfiltermodel.cpp
  src/gui/transferlistsortmodel.cpp
Labels: GUI, Code cleanup

#20519 Ensure the 'profile' path of portable mode is pointing to a directory
  src/app/application.cpp
Labels: Core

#20529 Fix invisible tray icon on Plasma 6 in Linux
  src/gui/desktopintegration.cpp
Labels: OS: Linux, GUI

#20545 NSIS: Update French translation
  dist/windows/installer-translations/french.nsh
Labels: Translations, NSIS

#20565 NSIS: Update Hungarian translation
  dist/windows/installer-translations/hungarian.nsh
Labels: Translations, NSIS

#20569 Add workaround to refresh styled controls once color scheme is changed
  src/gui/uithememanager.cpp
Labels: GUI

#20587 Use better icons for RSS articles
  src/gui/rss/articlelistwidget.cpp
  src/gui/uithemecommon.h
  src/icons/icons.qrc
  src/icons/rss_read_article.png
  src/icons/rss_unread_article.png
Labels: RSS, Look and feel, GUI

#20586 Initialize completer for file system path widget on demand
  src/gui/fspathedit_p.cpp
  src/gui/fspathedit_p.h
Labels: GUI

#20588 Refresh custom colors once color scheme is changed
  src/gui/log/logmodel.cpp
  src/gui/log/logmodel.h
  src/gui/rss/articlelistwidget.cpp
  src/gui/rss/articlelistwidget.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/uithemecommon.h
  src/gui/uithemedialog.cpp
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
  src/gui/uithemesource.cpp
Labels: GUI

#20498 Backport changes to v4.6.x branch
  .gitignore
  dist/windows/installer-translations/french.nsi
  dist/windows/installer-translations/hungarian.nsi
  src/app/application.cpp
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/desktopintegration.cpp
  src/gui/fspathedit_p.cpp
  src/gui/fspathedit_p.h
  src/gui/lineedit.cpp
  src/gui/lineedit.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/rss/articlelistwidget.cpp
  src/gui/search/searchjobwidget.cpp
  src/gui/uithemecommon.h
  src/icons/icons.qrc
  src/icons/rss_read_article.png
  src/icons/rss_unread_article.png
  src/src.pro
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/search.html
Labels: Backport

#20566 Add regex toggle for WEBUI torrent filtering
  src/webui/www/private/css/style.css
  src/webui/www/private/images/regex.svg
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/webui.qrc
Labels: WebUI

#20590 GHA CI: check python scripts
  .github/workflows/ci_python.yaml
  .github/workflows/ci_webui.yaml
  .github/workflows/helper/pre-commit/check_translation_tag.py
  dist/windows/gather_qt_translations.py
  src/searchengine/nova3/novaprinter.py
  src/update_qrc_files.py
  src/webui/www/split_merge_json.py
  src/webui/www/translations_qt2i18next.py
  src/webui/www/tstool.py
Labels: CI

#20600 WebUI: Conditionally show filters sidebar
  src/webui/www/private/scripts/client.js
Labels: WebUI

#20597 Revamp system tray icon menu handling
  src/app/application.cpp
  src/gui/desktopintegration.cpp
  src/gui/desktopintegration.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: GUI

#20606 Improve AppStream metadata
  dist/unix/CMakeLists.txt
  dist/unix/org.qbittorrent.qBittorrent.metainfo.xml
Labels: OS: Linux

#20627 Prevent app from being closed when disabling system tray icon
  src/app/application.cpp
Labels: GUI

#20593 WebUI: Add support for running concurrent searches
  .pre-commit-config.yaml
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/search.html
Labels: WebUI, Search engine

#20601 WebUI: Improve accuracy of trackers list
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI
