Repository qbittorrent/qBittorrent, pull requests merged in 2024-04, with the labels that each got.

#20640 GHA CI: only store cache for master branch
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
Labels: CI

#20641 GHA CI: retry action on failure
  .github/workflows/ci_macos.yaml
Labels: CI

#20638 WebUI: Fix error when category doesn't exist
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#20180 Add the Popularity metric
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/gui/properties/propertieswidget.cpp
  src/gui/properties/propertieswidget.ui
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistsortmodel.cpp
  src/gui/transferlistwidget.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/views/properties.html
Labels: Core

#20651 WebAPI: return correct value for queued uploading state
  src/webui/api/serialize/serialize_torrent.cpp
Labels: Hotfix

#20591 WebUI: Allow to specify login page language via query parameter
  src/webui/www/public/scripts/login.js
Labels: WebUI

#20670 Fix Enter key behavior in Add new torrent dialog
  src/gui/fspathedit_p.cpp
  src/gui/fspathedit_p.h
Labels: GUI

#20665 GHA CI: lock to ESLint v8
  src/webui/www/package.json
Labels: CI

#20664 GHA CI: revise packaging failure detection
  .github/workflows/ci_macos.yaml
Labels: CI

#20639 WebUI: Improve table scrolling and selection on mobile
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#20637 WebUI: Restore search tabs on load
  src/webui/www/private/views/search.html
Labels: WebUI, Search engine

#20694 Update screenshot URL in appstream metadata
  dist/unix/org.qbittorrent.qBittorrent.metainfo.xml
Labels: OS: Linux

#20695 WebUI: fix wrong peer number
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#20696 WebUI: enforce parentheses around operators
  src/webui/www/.eslintrc.json
  src/webui/www/private/rename.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/search.html
Labels: WebUI

#20714 Prevent invalid status filter index from being used
  src/base/torrentfilter.h
  src/gui/transferlistfilters/statusfilterwidget.cpp
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: GUI

#20715 Add extra offset for dialog frame
  src/gui/guiaddtorrentmanager.cpp
Labels: GUI

#20716 Focus on Download button if torrent link retrieved from the clipboard
  src/gui/downloadfromurldialog.cpp
Labels: GUI

#20725 Don't overwrite stored layout of main window with incorrect one
  src/gui/mainwindow.cpp
Labels: GUI

#20447 Raise minimum libtorrent 2 version to 2.0.10
  CMakeLists.txt
  INSTALL
Labels: Project management, Build system

#20723 GHA CI: Bump Boost version to 1.85.0
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#20747 Don't forget to resume "missing files" torrent when rechecking
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#20553 Lazy load search plugins
  src/searchengine/nova3/nova2.py
Labels: Search engine

#20729 Adjust tracker tier when adding additional trackers
  src/base/CMakeLists.txt
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/utils/number.cpp
  src/base/utils/number.h
  src/gui/optionsdialog.ui
  src/gui/trackersadditiondialog.cpp
  src/webui/www/private/views/preferences.html
  test/CMakeLists.txt
  test/testutilsnumber.cpp
Labels: Core

#20700 WebUI: Fix inconsistent naming between (Done/Progress) column
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#20711 Restore ability to use server-side translation by custom WebUI
  src/webui/webapplication.cpp
Labels: WebUI

#20762 Use proper comparison for `None`
  src/searchengine/nova3/nova2.py
Labels: Search engine, Hotfix

#20728 WebUI: clean up code
  src/webui/www/.eslintrc.json
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/search.html
Labels: WebUI, Code cleanup

#20764 Avoid repetitive function calls
  src/base/torrentfilter.cpp
Labels: Code cleanup

#20703 Add date column to the built-in search engine
  src/base/search/searchhandler.cpp
  src/base/search/searchhandler.h
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchsortmodel.h
  src/searchengine/nova3/novaprinter.py
  src/webui/api/searchcontroller.cpp
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/search.html
Labels: Search engine
