Repository qbittorrent/qBittorrent, pull requests merged in 2024-09, with the labels that each got.

#21243 WebUI: Allow to display only hostname in the Tracker column
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/views/preferences.html
Labels: WebUI

#20971 Fix highlighted piece color
  src/gui/properties/piecesbar.cpp
  src/gui/properties/piecesbar.h
Labels: Look and feel

#21278 WebUI: Show country/region name next to its flag when 'Resolve peer countries' is enabled
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21283 WebUI: do not follow anchor URL
  src/webui/www/private/scripts/contextmenu.js
Labels: WebUI, Hotfix

#21299 Apply "merge trackers" logic regardless of way the torrent is added
  src/base/bittorrent/sessionimpl.cpp
  src/base/net/smtp.h
Labels: Core

#21260 Revise cookie 'secure flag' enable condition
  src/base/http/types.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/webapplication.cpp
  src/webui/webapplication.h
  src/webui/www/private/views/preferences.html
Labels: Network

#21263 Opt into Windows SegmentHeap
  src/qbittorrent.exe.manifest
Labels: OS: Windows

#21269 WebUI: Improve subcategories
  src/webui/www/private/css/style.css
  src/webui/www/private/newcategory.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/filters.html
Labels: WebUI

#21302 WebUI: Provide 'Merge trackers to existing torrent' option
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21241 Backport changes to v5.0.x branch
  src/base/bittorrent/sessionimpl.cpp
  src/base/net/smtp.h
  src/gui/properties/piecesbar.cpp
  src/gui/properties/piecesbar.h
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchjobwidget.h
  src/webui/www/private/views/preferences.html
Labels: Backport

#21305 Add URL link for reverse proxy setup examples
  src/gui/optionsdialog.ui
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI

#21289 WebUI: Improve torrent deletion
  src/webui/api/appcontroller.cpp
  src/webui/www/private/css/Window.css
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/preferences.html
Labels: WebUI

#21276 Backport changes to v4.6.x branch
  src/gui/downloadfromurldialog.cpp
Labels: Backport

#21291 Enable customizing the save statistics time interval
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Core

#21308 WebUI: Use Map instead of Mootools Hash in Torrents table
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI

#21321 WebUI: Improve hash copy actions in context menu
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/contextmenu.js
Labels: WebUI

#21333 Improve PRNG functions
  src/base/utils/random.cpp
Labels: Core

#21334 Remove unused function
  src/gui/utils.cpp
  src/gui/utils.h
Labels: Code cleanup

#21339 WebUI: Display DHT information in the Status bar only when DHT is enabled
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21348 WebUI: Add 'Confirm torrent recheck' option
  src/webui/api/appcontroller.cpp
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/confirmRecheck.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/preferences.html
  src/webui/www/webui.qrc
Labels: WebUI

#21346 WebUI: Fix removing tracker URL with '|' character
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#21055 WebUI: Support managing web seeds
  src/gui/properties/propertieswidget.cpp
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/index.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/properties.html
  src/webui/www/webui.qrc
Labels: WebUI

#21358 WebUI: Use Map instead of Mootools Hash in all dynamic tables
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI

#21332 Allow drop action only on transfer list
  src/base/utils/misc.cpp
  src/base/utils/misc.h
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: GUI

#21340 Add WebAPI/WebUI for managing cookies
  src/webui/api/appcontroller.cpp
  src/webui/api/appcontroller.h
  src/webui/api/torrentscontroller.cpp
  src/webui/webapplication.h
  src/webui/www/private/download.html
  src/webui/www/private/images/browser-cookies.svg
  src/webui/www/private/index.html
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/cookies.html
  src/webui/www/webui.qrc
Labels: WebUI, WebAPI

#21343 Revise `bug_report` template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Project management

#21371 WebUI: Support updating RSS feed URL
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/views/rss.html
  src/webui/www/webui.qrc
Labels: WebUI, RSS

#21373 Reduce sensitive data instances
  src/webui/webui.cpp
  src/webui/webui.h
Labels: Code cleanup

#21379 WebUI: CSS/styling improvements
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/Tabs.css
  src/webui/www/private/css/Window.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/palette.css
  src/webui/www/private/css/style.css
  src/webui/www/private/css/vanillaSelectBox.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/webui.qrc
Labels: WebUI

#21397 WebUI: Add 'Engine' column to Search table
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/search.js
Labels: WebUI, Search engine

#21405 WebUI: Improve lookup performance when filtering by tracker
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21407 Replace QVector with QList
  src/app/qtlocalpeer/qtlockedfile.h
  src/gui/macutilities.mm
  test/testbittorrenttrackerentry.cpp
Labels: Code cleanup

#21415 Migrate away from deprecated functions in Qt 6.9
  src/base/net/smtp.cpp
  src/base/rss/rss_parser.cpp
  src/gui/advancedsettings.cpp
  src/gui/rss/automatedrssdownloader.cpp
Labels: Code cleanup
