Repository qbittorrent/qBittorrent, pull requests merged in 2024-10, with the labels that each got.

#21300 Add "Simple pread/pwrite" disk IO type
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/gui/advancedsettings.cpp
  src/webui/www/private/views/preferences.html
Labels: Core

#21432 WebUI: remove unused variables
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
Labels: WebUI, Code cleanup

#21378 WebUI: add confirm dialog for Auto TMM
  src/webui/www/private/css/Window.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/confirmAutoTMM.html
  src/webui/www/webui.qrc
Labels: WebUI

#21411 Regenerate .ui files
  src/gui/aboutdialog.ui
  src/gui/addnewtorrentdialog.ui
  src/gui/addtorrentparamswidget.ui
  src/gui/autoexpandabledialog.ui
  src/gui/banlistoptionsdialog.ui
  src/gui/cookiesdialog.ui
  src/gui/deletionconfirmationdialog.ui
  src/gui/downloadfromurldialog.ui
  src/gui/executionlogwidget.ui
  src/gui/ipsubnetwhitelistoptionsdialog.ui
  src/gui/mainwindow.ui
  src/gui/optionsdialog.ui
  src/gui/previewselectdialog.ui
  src/gui/properties/peersadditiondialog.ui
  src/gui/properties/propertieswidget.ui
  src/gui/rss/automatedrssdownloader.ui
  src/gui/rss/rsswidget.ui
  src/gui/search/pluginselectdialog.ui
  src/gui/search/pluginsourcedialog.ui
  src/gui/search/searchjobwidget.ui
  src/gui/shutdownconfirmdialog.ui
  src/gui/speedlimitdialog.ui
  src/gui/statsdialog.ui
  src/gui/torrentcategorydialog.ui
  src/gui/torrentcreatordialog.ui
  src/gui/torrentoptionsdialog.ui
  src/gui/torrentsharelimitswidget.ui
  src/gui/torrenttagsdialog.ui
  src/gui/trackerentriesdialog.ui
  src/gui/trackersadditiondialog.ui
  src/gui/uithemedialog.ui
  src/gui/watchedfolderoptionsdialog.ui
Labels: Code cleanup

#21488 Don't try to apply Mark-of-the-Web to nonexistent files
  src/base/utils/os.cpp
Labels: Core

#21403 Add name to threads
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/bencoderesumedatastorage.h
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.h
  src/base/bittorrent/resumedatastorage.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentcreationmanager.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloader.h
  src/base/rss/rss_session.cpp
  src/base/torrentfileswatcher.cpp
  src/base/torrentfileswatcher.h
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcontentwidget.cpp
  src/gui/torrentcreatordialog.cpp
  src/gui/uithemedialog.cpp
  src/gui/utils.cpp
  src/webui/webapplication.cpp
Labels: Core

#21456 NSIS: update luxembourgish
  dist/windows/installer-translations/luxembourgish.nsh
Labels: NSIS

#21499 CI: turn on assertion checks
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#21458 GHA CI: Bump pandoc to latest version
  .github/workflows/ci_file_health.yaml
  doc/en/qbittorrent-nox.1
  doc/en/qbittorrent.1
  doc/ru/qbittorrent-nox.1
  doc/ru/qbittorrent.1
Labels: CI

#21460 GHA CI: Update pre-commit-config workflow
  .github/workflows/helper/pre-commit/.typos.toml
  .pre-commit-config.yaml
Labels: CI

#21500 WebUI: remove unused variable
  src/webui/www/private/views/rss.html
Labels: WebUI, Code cleanup

#21295 Disable the ability to create torrents with a piece size of 256MiB
  src/gui/torrentcreatordialog.cpp
Labels: Core

#21395 Fix the tab order in dialogs
  src/gui/optionsdialog.ui
  src/gui/torrentcreatordialog.ui
  src/gui/torrentoptionsdialog.ui
  src/gui/torrentsharelimitswidget.ui
Labels: GUI

#21506 WebUI: Don't load Tabs & dynamicTable stylesheets in Properties panel
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21516 WebUI: Add context menu to search tabs
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/search.html
Labels: WebUI

#21507 WebUI: Use proper text color to highlight items in all filter lists
  src/webui/www/private/css/style.css
Labels: WebUI

#21539 Import correct libraries
  src/searchengine/nova3/helpers.py
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/novaprinter.py
Labels: Search engine

#21542 Bump search engine components version
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/novaprinter.py
Labels: Search engine

#21528 Disable "Move to trash" option by default
  src/base/bittorrent/sessionimpl.cpp
Labels: Core

#21553 Allow to choose Qt style
  .github/workflows/ci_windows.yaml
  src/app/main.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/gui/uithememanager.cpp
Labels: OS: Windows, Look and feel, GUI

#21437 WebUI: Handle folders when updating RSS feed url
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/views/rss.html
Labels: WebUI, RSS

#21438 WebUI: Improve filter lists
  src/webui/www/private/css/style.css
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI

#21464 WebUI: Apply box-sizing reset
  src/webui/www/private/addtrackers.html
  src/webui/www/private/css/Layout.css
  src/webui/www/private/css/Tabs.css
  src/webui/www/private/css/Window.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/index.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/properties.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/search.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI, Look and feel

#21558 WebUI: Setup copy events only once
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21531 Add support for Thunar file manager
  src/gui/utils.cpp
Labels: OS: Linux, GUI

#21569 Add drag support to torrent content widget
  src/gui/torrentcontentmodel.cpp
  src/gui/torrentcontentmodel.h
  src/gui/torrentcontentwidget.cpp
Labels: GUI

#21571 Avoid shadowing function parameter
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/net/geoipmanager.cpp
Labels: Code cleanup

#21572 Avoid heavy weight function object
  src/base/bittorrent/resumedatastorage.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/webui/api/torrentscontroller.cpp
Labels: Code cleanup

#21364 Don't ignore SSL errors
  src/base/net/downloadmanager.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Security

#21599 Don't change combobox index after selection
  src/gui/optionsdialog.cpp
Labels: GUI

#21596 Correctly handle "torrent finished after move" event
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
Labels: Core

#21570 WebUI: Improve sort order in Status column
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21598 WebUI: Use modern class syntax in context menu classes
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Code cleanup

#21628 Correctly apply filename filter when !qB extension is enabled
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#21615 Allow to choose color scheme on Windows
  .github/workflows/ci_windows.yaml
  src/gui/CMakeLists.txt
  src/gui/colorscheme.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/gui/uithememanager.cpp
  src/gui/uithememanager.h
Labels: OS: Windows, GUI

#21620 WebUI: fix 'rename files' dialog cannot be opened more than once
  src/webui/www/private/rename_files.html
Labels: WebUI

#21621 WebUI: fix 'rename files' dialog cannot be opened more than once (v5_0_x)
  src/webui/www/private/rename_files.html
Labels: Backport

#21618 Free resources allocated by web session once it is destructed
  src/webui/webapplication.cpp
Labels: Core, WebAPI

#21625 Improve color scheme change detection
  src/gui/properties/piecesbar.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/rss/rsswidget.h
Labels: GUI

#21605 Allow to select Qt's default style
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/uithememanager.cpp
Labels: GUI

#21659 Fix button state for SSL certificate check
  src/gui/optionsdialog.cpp
Labels: GUI

#21563 Fix filesize sorting in preview dialog
  src/gui/previewselectdialog.cpp
Labels: GUI

#21663 Don't ignore SSL errors (v5_0_x)
  src/base/net/downloadmanager.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Backport

#21626 Update GPLv2 license to reflect latest version
  COPYING.GPLv2
Labels: Project management

#21640 WebUI: restore arrow keys table navigation
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21657 WebUI: Show file filter when Content tab selected on load
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21609 WebUI: Don't sort rows with static trackers in Trackers table
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#21643 Update python installer version for Windows
  src/gui/mainwindow.cpp
Labels: Search engine

#21654 WebUI: Clear properties panel when torrent no longer selected
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
Labels: WebUI

#21655 WebUI: Support auto resizing table columns
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#21689 WebUI: Fix displaying RSS panel on load
  src/webui/www/private/scripts/client.js
Labels: WebUI

#21688 WebAPI: Prevent producing empty sync data
  src/webui/api/synccontroller.cpp
Labels: WebAPI

#21687 Correctly delete the moved search tabs
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: GUI

#21658 Simplify SSL parameters setup
  src/base/http/server.cpp
  src/base/http/server.h
Labels: Code cleanup

#21691 WebUI: prefer arrow functions whenever applicable
  src/webui/www/eslint.config.mjs
  src/webui/www/package.json
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/file-tree.js
  src/webui/www/private/scripts/filesystem.js
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/confirmRecheck.html
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/preferencesToolbar.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
  src/webui/www/public/scripts/login.js
Labels: WebUI, Code cleanup

#21656 WebUI: Eliminate unnecessary torrents table updates
  src/webui/www/private/scripts/client.js
Labels: WebUI, WebAPI
