Repository qbittorrent/qBittorrent, pull requests merged in 2025-09, with the labels that each got.

#23185 WebUI: add I2P peers to peer list
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-peers.js
Labels: WebUI

#23192 WebAPI: send names of missing required params
  src/webui/api/apicontroller.cpp
Labels: WebAPI

#23193 Fix compilation in C++23 mode
  src/base/bittorrent/torrentdescriptor.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/rss/rss_session.cpp
Labels: Code cleanup

#23195 WebUI: Fix add torrent spinner in Firefox
  src/webui/www/private/addtorrent.html
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Hotfix

#23197 Update Piccirello's copyright email
  src/base/bittorrent/downloadpriority.cpp
  src/base/bittorrent/downloadpriority.h
  src/base/freediskspacechecker.cpp
  src/base/freediskspacechecker.h
  src/gui/ipsubnetwhitelistoptionsdialog.cpp
  src/gui/ipsubnetwhitelistoptionsdialog.h
  src/webui/api/searchcontroller.cpp
  src/webui/api/searchcontroller.h
  src/webui/www/private/scripts/file-tree.js
  src/webui/www/private/scripts/filesystem.js
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/prop-peers.js
Labels: Project management

#23230 WebUI: fix invalid method
  src/webui/www/private/scripts/client.js
Labels: WebUI, Hotfix

#23231 WebUI: prefer `for` loop over `Array.forEach` method
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/preferencesToolbar.html
Labels: WebUI, Code cleanup

#23239 Allow to copy content paths of selected torrents
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
Labels: WebUI, GUI

#23255 Use class instead of struct
  src/app/cmdoptions.cpp
Labels: Code cleanup

#23294 WebUI: don't send HTTP Referer header to other servers
  src/webui/www/private/views/rss.html
Labels: WebUI

#23180 Restore default drag behavior in Torrent Content widget
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcontentwidget.cpp
  src/gui/torrentcontentwidget.h
Labels: GUI

#23315 Don't fail because of existing files when exporting torrent files
  src/base/bittorrent/sessionimpl.cpp
  src/gui/transferlistwidget.cpp
Labels: GUI

#23305 Add Torrent Creator toolbar button
  src/gui/mainwindow.ui
  src/webui/www/private/index.html
Labels: GUI

#23316 Improve parsing HTTP request line
  src/base/http/requestparser.cpp
  src/base/http/requestparser.h
Labels: Network

#23317 Use proper return type
  src/app/application.cpp
  src/app/cmdoptions.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/peerinfo.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentdescriptor.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentinfo.cpp
  src/base/http/requestparser.cpp
  src/base/http/requestparser.h
  src/base/http/responsegenerator.cpp
  src/base/net/geoipdatabase.cpp
  src/base/net/smtp.cpp
  src/base/path.cpp
  src/base/rss/feed_serializer.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_folder.cpp
  src/base/rss/rss_item.cpp
  src/base/rss/rss_parser.cpp
  src/base/search/searchhandler.cpp
  src/base/settingsstorage.cpp
  src/base/utils/compare.cpp
  src/base/utils/foreignapps.cpp
  src/base/utils/password.cpp
  src/base/utils/version.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/fspathedit.cpp
  src/gui/optionsdialog.cpp
  src/gui/properties/downloadedpiecesbar.cpp
  src/gui/properties/pieceavailabilitybar.cpp
  src/gui/torrentcategorydialog.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/torrentcontentmodelfolder.cpp
  src/gui/transferlistfilters/categoryfiltermodel.cpp
  src/gui/transferlistfilters/tagfiltermodel.cpp
  src/gui/watchedfoldersmodel.cpp
  src/webui/api/searchcontroller.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/webapplication.cpp
Labels: Code cleanup
