Repository qbittorrent/qBittorrent, pull requests merged in 2025-01, with the labels that each got.

#22102 Simplify captured variable type
  src/base/bittorrent/sessionimpl.cpp
Labels: Code cleanup

#22103 WebUI: Remove unnecessary hashing
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/filters.html
Labels: WebUI, Code cleanup

#22106 Add parameter to control whether to unescape HTML entities
  src/searchengine/nova3/helpers.py
Labels: Search engine

#21828 Support fetching tracker list from URL
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Core

#22122 Allow to refresh existing search
  src/base/search/searchpluginmanager.cpp
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchjobwidget.h
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Search engine, GUI

#22127 Allow multiple simultaneous searches
  src/gui/mainwindow.cpp
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
  src/gui/search/searchwidget.ui
Labels: Search engine, GUI

#22133 Handle Qt style options uniformly
  src/gui/optionsdialog.cpp
Labels: OS: Windows, GUI, Hotfix

#22140 WebUI: temporarily pin dependency version
  src/webui/www/package.json
Labels: WebUI, CI

#22125 GHA CI: Update Boost URL
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#22139 WebUI: fix error when opening the same dialog twice
  src/webui/www/private/scripts/lib/mocha-0.9.6.js
  src/webui/www/private/scripts/lib/mocha.min.js
Labels: WebUI

#22141 WebUI: use native API for accessing query string
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
Labels: WebUI, Code cleanup

#22148 Allow to reuse existing search term
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Search engine, GUI

#22155 GHA CI: show installed version
  .github/workflows/ci_webui.yaml
Labels: CI

#22128 WebAPI: optionally include trackers list in torrent info response
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#22176 Avoid memory leak on macOS
  src/base/utils/os.cpp
  src/gui/powermanagement/powermanagement.cpp
Labels: OS: macOS

#22177 WebUI: use template literals instead of string concatenation
  src/webui/www/eslint.config.mjs
  src/webui/www/package.json
  src/webui/www/private/newcategory.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI

#22178 Avoid memory leak on macOS
  src/base/utils/os.cpp
  src/gui/powermanagement/powermanagement.cpp
Labels: Backport

#22179 WebUI: use native function for selecting elements
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/preferencesToolbar.html
Labels: WebUI, Code cleanup

#22190 Fix torrent content checkbox state under certain conditions
  src/gui/torrentcontentmodel.cpp
Labels: GUI

#22156 WebAPI: add new method setTags to upsert tags on torrents
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/webapplication.h
Labels: WebAPI

#22193 GHA CI: Bump numerous hook revs
  .pre-commit-config.yaml
  src/app/application.cpp
Labels: CI

#22199 WebUI: improve lint checks
  .gitignore
  src/webui/www/.gitignore
  src/webui/www/.stylelintrc.json
  src/webui/www/package.json
  src/webui/www/private/css/Window.css
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/noscript.css
  src/webui/www/private/css/style.css
  src/webui/www/private/css/vanillaSelectBox.css
  src/webui/www/public/css/login.css
  src/webui/www/public/css/noscript.css
  src/webui/www/stylelint.config.mjs
Labels: WebUI

#22200 GHA CI: add checking for GHA workflows
  .github/workflows/ci_file_health.yaml
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_python.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_webui.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
  .github/workflows/stale_bot.yaml
Labels: CI

#22163 Store opened search tabs between app restarts
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.h
  src/gui/optionsdialog.ui
  src/gui/search/searchjobwidget.cpp
  src/gui/search/searchjobwidget.h
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Search engine, GUI

#22205 Hide zero and infinity values in peer list only when that setting is set to `Always`
  src/gui/properties/peerlistwidget.cpp
Labels: GUI

#22206 WebUI: don't wrap regex literal in regex constructor
  src/webui/www/private/scripts/rename-files.js
Labels: WebUI

#22118 WebUI: Allow to move state icon to name column in torrents table
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22211 Use compact format for JSON files
  src/base/rss/feed_serializer.cpp
  src/gui/search/searchwidget.cpp
Labels: Core

#22208 Store search history
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/search/searchwidget.cpp
  src/gui/search/searchwidget.h
Labels: Search engine, GUI

#22219 Remove stopped torrent from "error" tracker filter
  src/gui/transferlistfilters/trackersfilterwidget.cpp
Labels: GUI
