Repository qbittorrent/qBittorrent, pull requests merged in 2025-05, with the labels that each got.

#22624 Remove dubious seeding time max value
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrent.cpp
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentimpl.cpp
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/preferences.html
Labels: Core

#22638 Fix ratio handling
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrent.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/gui/optionsdialog.ui
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentsharelimitswidget.ui
  src/gui/transferlistmodel.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/preferences.html
Labels: Core

#22636 WebUI: Use modern class syntax to create dynamic table classes
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22646 Use short format for displaying RSS entry date
  src/gui/rss/rsswidget.cpp
Labels: RSS, GUI

#22645 Revise labels for 'duplicate torrent' actions
  src/gui/optionsdialog.ui
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI

#22650 WebUI: migrate 'file tree' class to JS native class
  src/webui/www/private/scripts/file-tree.js
Labels: WebUI, Code cleanup

#22648 Revamp adding torrents to libtorrent session
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Core, Code cleanup

#22669 Fix async result handlers
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/trackerlist/trackerlistmodel.cpp
Labels: Hotfix, Core

#22610 WebUI: Select multiple files to rename with Shift
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22663 WebUI: Remove `unselectable` from General tab
  src/webui/www/private/views/properties.html
Labels: WebUI

#22676 WebUI: always provide event variable
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#22684 GHA CI: update zizmor rules ID
  .github/workflows/ci_file_health.yaml
Labels: CI

#22670 WebUI: Convert 'Pieces Bar' class to a custom element
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/piecesbar.js
Labels: WebUI, Code cleanup

#22680 Remove "Physical memory (RAM) usage limit" option on Linux
  src/app/application.cpp
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/www/private/views/preferences.html
Labels: OS: Linux, Core

#22675 Allow symbolic links in torrent creator on Windows
  src/base/bittorrent/torrentcreator.cpp
Labels: OS: Windows, Core

#22677 WebUI: add versioning to local preferences
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/localpreferences.js
Labels: WebUI

#22695 Update help message for Windows systems
  src/app/cmdoptions.cpp
Labels: OS: Windows

#22709 GHA CI: Bump spellcheck related hooks revs
  .pre-commit-config.yaml
Labels: CI

#22719 WebUI: Make multi-rename search & replace fields use a monospace font
  src/webui/www/private/rename_files.html
Labels: WebUI

#22723 Add fallback for random number generator
  src/base/utils/random.cpp
  src/base/utils/randomlayer_linux.cpp
  src/base/utils/randomlayer_other.cpp
  src/base/utils/randomlayer_win.cpp
Labels: OS: Linux, Core

#22724 WebUI: fix wrong replacement sequence
  src/webui/www/private/scripts/client.js
Labels: WebUI

#22725 WebUI: Prevent mobile keyboards from capitalizing username input
  src/webui/www/public/index.html
Labels: WebUI

#22754 WebUI: Fix memory leak
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/monkeypatch.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/cookies.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/webui.qrc
Labels: WebUI

#22768 WebUI: Convert 'Progress Bar' class to a custom element
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/progressbar.js
Labels: WebUI

#22769 WebUI: Replace slider with native input range
  src/webui/www/private/css/style.css
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/images/knob.gif
  src/webui/www/private/images/slider-area.gif
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/speedlimit.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/webui.qrc
Labels: WebUI

#22770 WebUI: migrate to JS native class
  src/webui/www/private/scripts/rename-files.js
Labels: WebUI, Code cleanup

#22753 WebAPI: Add more properties to 'torrents/info' result
  src/base/bittorrent/torrentimpl.cpp
  src/webui/api/serialize/serialize_torrent.cpp
  src/webui/api/serialize/serialize_torrent.h
Labels: WebAPI

#22774 Fix access denial messages
  src/base/net/downloadhandlerimpl.cpp
Labels: Network

#22775 NSIS: revise license page
  dist/windows/config.nsh
Labels: NSIS

#22166 WebUI: Add support for tracker status (error, announce error, warning) filter
  src/webui/api/synccontroller.cpp
  src/webui/api/synccontroller.h
  src/webui/webapplication.h
  src/webui/www/private/images/tracker-error.svg
  src/webui/www/private/images/tracker-warning.svg
  src/webui/www/private/images/trackerless.svg
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/webui.qrc
Labels: WebUI

#22792 WebUI: switch to lightweight clipboard library
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/lib/clipboard-copy.js
  src/webui/www/private/scripts/lib/clipboard.min.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/webui.qrc
Labels: WebUI

#22793 GHA CI: enforce sorted import in Python scripts
  .github/workflows/ci_python.yaml
  .github/workflows/helper/pre-commit/check_grid_items_order.py
  .github/workflows/helper/pre-commit/check_translation_tag.py
  src/searchengine/nova3/helpers.py
Labels: CI
