Repository qbittorrent/qBittorrent, pull requests merged in 2025-06, with the labels that each got.

#22786 Use modern API to export torrent
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Core, Code cleanup

#22815 Fix command line placeholders description
  src/gui/optionsdialog.cpp
Labels: Hotfix

#22800 Make modifying log file perms best effort
  src/app/filelogger.cpp
Labels: Core

#22805 WebUI: Add ability to refresh search
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/search.html
Labels: WebUI, Search engine

#22813 WebAPI: Add metadata in /app/getDirectoryContent response
  WebAPI_Changelog.md
  src/webui/api/appcontroller.cpp
  src/webui/webapplication.h
Labels: WebAPI

#22821 WebUI: avoid redundant operations when sorting
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Code cleanup

#22823 Revise Interface section layout in Options dialog
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
Labels: GUI

#22817 WebUI: Cache server stats for statistics window
  src/webui/www/private/index.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/statistics.js
  src/webui/www/webui.qrc
Labels: WebUI

#22818 WebUI: Reset filter selection when double clicking filter
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/preferences.html
Labels: WebUI, Filters

#22827 WebUI: Improve performance of re-sorting table rows
  src/webui/www/private/scripts/dynamicTable.js
Labels: Performance, WebUI

#22867 WebUI: use `defer` when loading scripts
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/speedlimit.html
  src/webui/www/private/upload.html
Labels: WebUI

#21015 Add WebAPI for fetching torrent metadata
  WebAPI_Changelog.md
  src/base/bittorrent/torrentdescriptor.cpp
  src/base/bittorrent/torrentdescriptor.h
  src/webui/api/torrentscontroller.cpp
  src/webui/api/torrentscontroller.h
  src/webui/webapplication.h
Labels: WebAPI

#22889 Don't ignore QFile::open() result
  src/base/search/searchpluginmanager.cpp
Labels: Code cleanup

#22708 GHA CI: Bump `pandoc` to latest
  .github/workflows/ci_file_health.yaml
  doc/en/qbittorrent-nox.1
  doc/en/qbittorrent.1
  doc/ru/qbittorrent-nox.1
  doc/ru/qbittorrent.1
Labels: CI

#22879 WebUI: Restore node default collapse state
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22884 WebUI: Delete correct rows after re-sort
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22893 Provide testing cases for path concatenation
  test/testpath.cpp
Labels: Unit test

#22894 Revise label wordings
  src/gui/search/searchwidget.cpp
Labels: GUI

#22899 Avoid copying resume data when loading torrents
  src/base/bittorrent/resumedatastorage.cpp
  src/base/bittorrent/resumedatastorage.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
Labels: Performance, Core

#22906 Optimize parsing of search results
  src/base/search/searchhandler.cpp
  src/base/search/searchhandler.h
  src/base/utils/bytearray.cpp
  src/base/utils/bytearray.h
  test/testutilsbytearray.cpp
Labels: Search engine

#22922 Allow to customize PiecesBar colors
  src/gui/properties/downloadedpiecesbar.cpp
  src/gui/properties/piecesbar.cpp
  src/gui/uithemecommon.h
Labels: Look and feel, GUI

#22939 WebAPI: Trim leading whitespaces on Run External Program fields
  src/webui/api/appcontroller.cpp
Labels: WebAPI

#22918 WebUI: Make footer scrollable on mobile
  src/webui/www/private/index.html
Labels: WebUI
