Repository qbittorrent/qBittorrent, pull requests merged in 2025-04, with the labels that each got.

#22459 WebUI: Support creating new torrents
  src/webui/api/torrentcreatorcontroller.cpp
  src/webui/www/private/css/dynamicTable.css
  src/webui/www/private/css/style.css
  src/webui/www/private/images/torrent-creator.svg
  src/webui/www/private/index.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/createtorrent.html
  src/webui/www/private/views/torrentcreator.html
  src/webui/www/webui.qrc
Labels: WebUI

#22504 WebUI: fix preferences not applied in magnet handler
  src/webui/www/private/scripts/download.js
Labels: WebUI

#22487 WebUI: Set status filter to 'All' if selected filter is no longer visible
  src/webui/www/private/scripts/client.js
Labels: WebUI

#22509 GHA CI: Use Qt 6.9.0 on Windows and macOS
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#22503 WebUI: add headers to RSS entry viewer
  src/webui/www/private/views/rss.html
Labels: WebUI, RSS

#22505 Show info hash in log when added a duplicate torrent
  src/base/addtorrentmanager.cpp
  src/base/addtorrentmanager.h
  src/base/bittorrent/infohash.cpp
  src/base/bittorrent/infohash.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloader.h
  src/gui/guiaddtorrentmanager.cpp
Labels: Core

#22507 Migrate `socks.py` from SocksiPy 1.01 to PySocks 1.7.1
  src/searchengine/nova3/socks.py
Labels: Search engine, Proxy/VPN

#22525 Fix grammar
  src/gui/powermanagement/inhibitordbus.cpp
Labels: Code cleanup

#22536 WebUI: fix dark mode in RSS entry viewer
  src/webui/www/private/views/rss.html
Labels: WebUI

#22537 WebUI: avoid saving invalid size
  src/webui/www/private/scripts/client.js
Labels: WebUI

#22510 Add SOCKS4/SOCKS4a proxy support to search engine
  src/base/search/searchpluginmanager.cpp
  src/searchengine/nova3/helpers.py
Labels: Search engine, Proxy/VPN

#22535 Explicitly reject opened Add torrent dialogs when exiting app
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/guiaddtorrentmanager.cpp
  src/gui/guiaddtorrentmanager.h
Labels: GUI

#22544 Use the proper keyboard shortcut for deleting items on macOS
  src/gui/CMakeLists.txt
  src/gui/mainwindow.cpp
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/propertieswidget.cpp
  src/gui/rss/automatedrssdownloader.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/trackerlist/trackerlistwidget.cpp
  src/gui/transferlistwidget.cpp
  src/gui/utils/keysequence.cpp
  src/gui/utils/keysequence.h
Labels: OS: macOS, GUI

#22564 Fix the torrent relocates files when switching to "manual" mode
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#22569 Prevent crash due to corrupted resume data
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.h
Labels: Core

#22490 Backport changes to v5.1.x branch
  src/base/bittorrent/bencoderesumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.cpp
  src/base/bittorrent/dbresumedatastorage.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/addnewtorrentdialog.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/guiaddtorrentmanager.cpp
  src/gui/guiaddtorrentmanager.h
  src/searchengine/nova3/socks.py
  src/webui/webapplication.cpp
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-trackers.js
Labels: Backport

#22554 Enforce SOCKS proxy setting in search engine plugins
  src/searchengine/nova3/helpers.py
  src/searchengine/nova3/nova2.py
  src/searchengine/nova3/nova2dl.py
Labels: Search engine, Proxy/VPN

#22557 Swap add file/link buttons on toolbar
  src/gui/mainwindow.ui
  src/webui/www/private/index.html
Labels: WebUI, GUI

#22558 Clamp seeding time limit in session
  src/base/bittorrent/sessionimpl.cpp
Labels: GUI

#22578 Add versioning to socks.py
  src/base/search/searchpluginmanager.cpp
  src/searchengine/nova3/novaprinter.py
  src/searchengine/nova3/socks.py
Labels: Search engine

#22581 Improve error messages
  src/searchengine/nova3/nova2dl.py
Labels: Search engine

#22502 WebUI: Optimize table performance with virtual list
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI

#22580 WebUI: migrate away from recursion calls
  src/webui/www/private/scripts/file-tree.js
Labels: WebUI, Code cleanup

#22590 Don't interpret wildcard pattern as filepath globbing
  src/base/utils/string.cpp
Labels: Core

#22605 Fix appearance of search history length spinbox
  src/gui/optionsdialog.ui
Labels: GUI

#22608 Fix preview not opening on Wayland
  src/gui/transferlistwidget.cpp
  src/gui/transferlistwidget.h
Labels: OS: Linux, GUI

#22599 Drop support of Qt 6.5
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/coverity-scan.yaml
  CMakeLists.txt
  INSTALL
  cmake/Modules/CommonConfig.cmake
  src/app/application.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/search/searchdownloadhandler.cpp
  src/base/search/searchhandler.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/utils/foreignapps.cpp
  src/gui/utils.cpp
  test/testutilsversion.cpp
Labels: Project management

#22598 Provide asynchronous results via QFuture
  src/base/bittorrent/filesearcher.cpp
  src/base/bittorrent/filesearcher.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/bittorrent/torrent.h
  src/base/bittorrent/torrentcontenthandler.h
  src/base/bittorrent/torrentimpl.cpp
  src/base/bittorrent/torrentimpl.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/properties/peerlistwidget.cpp
  src/gui/properties/propertieswidget.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/trackerlist/trackerlistmodel.cpp
  src/webui/api/synccontroller.cpp
  src/webui/api/torrentscontroller.cpp
Labels: Core, Code cleanup

#22549 WebUI: Use native function for selecting elements by ID
  src/webui/www/private/addpeers.html
  src/webui/www/private/addtrackers.html
  src/webui/www/private/addwebseeds.html
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/editfeedurl.html
  src/webui/www/private/edittracker.html
  src/webui/www/private/editwebseed.html
  src/webui/www/private/newcategory.html
  src/webui/www/private/newfeed.html
  src/webui/www/private/newfolder.html
  src/webui/www/private/newrule.html
  src/webui/www/private/newtag.html
  src/webui/www/private/rename.html
  src/webui/www/private/rename_feed.html
  src/webui/www/private/rename_file.html
  src/webui/www/private/rename_files.html
  src/webui/www/private/rename_rule.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/download.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/piecesbar.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-general.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/private/setlocation.html
  src/webui/www/private/shareratio.html
  src/webui/www/private/upload.html
  src/webui/www/private/uploadlimit.html
  src/webui/www/private/views/about.html
  src/webui/www/private/views/aboutToolbar.html
  src/webui/www/private/views/installsearchplugin.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/preferencesToolbar.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#22615 WebUI: enforce coding style
  src/webui/www/eslint.config.mjs
  src/webui/www/private/downloadlimit.html
  src/webui/www/private/newtag.html
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/localpreferences.js
  src/webui/www/private/scripts/pathAutofill.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/shareratio.html
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
Labels: WebUI, Code cleanup

#22617 Call `QPromise::start()` early to avoid race condition
  src/base/bittorrent/filesearcher.cpp
  src/base/bittorrent/filesearcher.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/torrentimpl.cpp
Labels: Hotfix, Core

#22597 WebUI: fix virtual list defects
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI, Hotfix
