Repository qbittorrent/qBittorrent, pull requests merged in 2025-02, with the labels that each got.

#22224 Return first tracker as fallback for "current tracker"
  src/base/bittorrent/torrentimpl.cpp
Labels: Core

#22217 GHA CI: Bump libtorrent versions
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#22220 WebUI: Replace getElements & getChildren
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/contextmenu.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
Labels: WebUI

#21692 Add announce_port support
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: WebUI, Core

#22245 GHA CI: explicitly set C++20 mode for libtorrent
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#22248 GHA CI: Bump `FORTIFY_SOURCE` hardening flag to `3`
  .github/workflows/ci_ubuntu.yaml
Labels: CI

#22247 Use switch statement
  src/gui/transferlistfilters/trackersfilterwidget.cpp
Labels: Code cleanup

#22234 WebUI: Fix memory leak in context menus
  src/webui/www/private/scripts/contextmenu.js
Labels: WebUI

#22246 WebUI: use native function when converting to numbers
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/preferences.html
Labels: WebUI, Code cleanup

#22252 WebUI: inline redundant function
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/shareratio.html
Labels: WebUI, Code cleanup

#22266 WebAPI: Don't trim string parameters
  src/webui/api/rsscontroller.cpp
Labels: RSS, WebAPI

#22264 WebUI: use recommended function for checking NaN values
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/views/preferences.html
Labels: WebUI, Code cleanup

#22263 WebUI: require Subresource Integrity on external links
  src/webui/www/.htmlvalidate.json
  src/webui/www/.htmlvalidate.mjs
Labels: WebUI, CI

#22207 Backport changes to v5.0.x branch
  dist/windows/installer-translations/portuguese.nsh
  src/gui/optionsdialog.cpp
  src/gui/properties/peerlistwidget.cpp
  src/gui/torrentcontentmodel.cpp
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/webui/api/rsscontroller.cpp
  src/webui/www/private/scripts/contextmenu.js
Labels: Backport

#22286 GHA CI: fix AppImage building
  .github/workflows/ci_ubuntu.yaml
Labels: CI

#22280 Use const accessor
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/tracker.cpp
  src/base/rss/rss_feed.cpp
  src/base/settingsstorage.cpp
  src/gui/torrentcontentmodelfolder.cpp
  src/gui/uithememanager.cpp
  src/gui/uithemesource.cpp
  src/webui/api/authcontroller.cpp
  src/webui/api/searchcontroller.cpp
  src/webui/api/synccontroller.cpp
  src/webui/webapplication.cpp
Labels: Code cleanup

#22289 Backport changes to v5.0.x branch
  .github/workflows/ci_ubuntu.yaml
Labels: Backport

#22281 WebUI: replace rounding function from MooTools
  .github/workflows/ci_webui.yaml
  src/webui/www/package.json
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/misc.js
  src/webui/www/private/scripts/progressbar.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/speedslider.js
  src/webui/www/test/private/misc.test.js
Labels: WebUI

#22174 WebAPI: Do not wrap result if offset is invalid
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI

#22046 NSIS: Update Swedish translation
  dist/windows/installer-translations/swedish.nsh
Labels: Translations, NSIS

#22284 Fix shift-click selection on macOS
  src/gui/CMakeLists.txt
  src/gui/macosshiftclickhandler.cpp
  src/gui/macosshiftclickhandler.h
  src/gui/transferlistwidget.cpp
Labels: OS: macOS, GUI

#22282 WebUI v5.1 fixes
  src/webui/www/private/css/style.css
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: WebUI

#22294 WebUI: Access element attribute/property natively in log tables
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22299 WebUI: Update sort icon after changing column order
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22309 WebUI: tell web crawlers do not index the WebUI
  src/webui/www/public/robots.txt
  src/webui/www/webui.qrc
Labels: WebUI

#22311 WebUI: Show 'Edit tracker URL...' only when one tracker is selected
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#22321 Update website URL
  .github/FUNDING.yml
Labels: Project management

#22320 GHA CI: ensure compatibility with newer cmake versions
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
  .github/workflows/coverity-scan.yaml
Labels: CI

#22319 Improve command line parameters serialization
  src/app/application.cpp
Labels: Core

#22330 Don't miss to declare some of the color IDs
  src/gui/uithemecommon.h
Labels: GUI
