Repository qbittorrent/qBittorrent, pull requests merged in 2025-03, with the labels that each got.

#22338 WebUI: Fix bug where the 'Tracker editing' dialog displays incorrect data
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#22339 WebUI: Maintain row highlight after rearranging table columns
  src/webui/www/private/scripts/dynamicTable.js
Labels: WebUI

#22351 Improve CI scripts
  .github/workflows/ci_macos.yaml
  .github/workflows/ci_ubuntu.yaml
  .github/workflows/ci_windows.yaml
Labels: CI

#22352 Improve "split to byte array views" function
  .pre-commit-config.yaml
  src/base/http/requestparser.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/utils/bytearray.cpp
  src/base/utils/bytearray.h
  src/base/utils/foreignapps.cpp
  src/base/utils/password.cpp
  src/gui/search/searchwidget.cpp
  test/testutilsbytearray.cpp
Labels: Core

#22362 Add missing includes
  src/base/http/types.h
Labels: Code cleanup

#22388 Add tests for PeerAddress struct
  test/CMakeLists.txt
  test/testbittorrentpeeraddress.cpp
Labels: Unit test

#22389 Use Qt built-in function for comparing values
  test/testpath.cpp
  test/testutilsgzip.cpp
  test/testutilsversion.cpp
Labels: Code cleanup, Unit test

#22407 Show free disk space in status bar
  src/base/CMakeLists.txt
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/base/freediskspacechecker.cpp
  src/base/freediskspacechecker.h
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/statusbar.cpp
  src/gui/statusbar.h
  src/webui/CMakeLists.txt
  src/webui/webapplication.cpp
  src/webui/webapplication.h
Labels: GUI, Core

#22411 Use slice method where applicable
  src/app/application.cpp
  src/app/cmdoptions.cpp
  src/base/bittorrent/peeraddress.cpp
  src/base/bittorrent/sessionimpl.cpp
  src/base/http/connection.cpp
  src/base/http/requestparser.cpp
  src/base/net/smtp.cpp
  src/base/path.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/base/rss/rss_item.cpp
  src/base/rss/rss_session.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/utils/compare.cpp
  src/base/utils/string.h
  src/gui/addnewtorrentdialog.cpp
  src/gui/fspathedit.cpp
  src/gui/optionsdialog.cpp
  src/gui/rss/rsswidget.cpp
  src/gui/search/searchsortmodel.cpp
  src/gui/search/searchwidget.cpp
  src/gui/transferlistfilters/categoryfiltermodel.cpp
  src/gui/transferlistfilters/trackersfilterwidget.cpp
  src/webui/webapplication.cpp
Labels: Code cleanup

#22268 Backport changes to v5.1.x branch
  .github/workflows/ci_ubuntu.yaml
  dist/windows/installer-translations/swedish.nsh
  src/app/application.cpp
  src/base/http/types.h
  src/gui/CMakeLists.txt
  src/gui/macosshiftclickhandler.cpp
  src/gui/macosshiftclickhandler.h
  src/gui/transferlistwidget.cpp
  src/gui/uithemecommon.h
  src/webui/api/rsscontroller.cpp
  src/webui/www/private/css/style.css
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/filters.html
  src/webui/www/private/views/log.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/transferlist.html
Labels: Backport

#22438 Switch to string view where applicable
  src/base/http/requestparser.cpp
  src/base/net/dnsupdater.cpp
  src/base/rss/rss_autodownloadrule.cpp
  src/gui/rss/rsswidget.cpp
  src/webui/webapplication.cpp
Labels: Code cleanup

#22439 Add control for 'hostname resolver cache expiry interval'
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/bittorrent/sessionimpl.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/webui/api/appcontroller.cpp
  src/webui/www/private/views/preferences.html
Labels: Core

#22457 Don't leak parent file descriptors to child processes
  src/app/application.cpp
  src/base/search/searchdownloadhandler.cpp
  src/base/search/searchhandler.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/utils/foreignapps.cpp
  src/gui/utils.cpp
Labels: OS: Linux, Core

#22458 WebUI: replace deprecated data type
  src/webui/www/private/views/preferences.html
Labels: WebUI

#22468 Improve add torrent error handling
  src/app/application.cpp
  src/base/CMakeLists.txt
  src/base/addtorrentmanager.cpp
  src/base/addtorrentmanager.h
  src/base/bittorrent/addtorrenterror.h
  src/base/bittorrent/session.h
  src/base/bittorrent/sessionimpl.cpp
  src/base/rss/rss_autodownloader.cpp
  src/base/rss/rss_autodownloader.h
Labels: Core, Code cleanup

#22477 RSS: Mark matched article as "read" if refers to duplicate torrent
  src/base/rss/rss_autodownloader.cpp
Labels: RSS

#22479 RSS: Fix crash when moving a folder into its subfolder
  src/base/rss/rss_session.cpp
Labels: RSS

#22480 WebUI: fix Tag counter counting wrong
  src/webui/www/private/scripts/client.js
Labels: WebUI, Hotfix

#22481 WebAPI: bump version
  WebAPI_Changelog.md
  src/webui/webapplication.h
Labels: Documentation, Hotfix, WebAPI

#22483 Revise wordings related to SOCKS4 proxy
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/webui/www/private/views/preferences.html
Labels: WebUI, GUI, Proxy/VPN

#22489 Restore ability to use server-side translation by custom WebUI
  src/webui/webapplication.cpp
Labels: WebUI, Translations

#22482 Refine environment variable scope
  src/base/net/downloadmanager.cpp
  src/base/search/searchdownloadhandler.cpp
  src/base/search/searchhandler.cpp
  src/base/search/searchpluginmanager.cpp
  src/base/search/searchpluginmanager.h
Labels: Search engine, Code cleanup, Proxy/VPN

#22492 Add option to enable previous Add new torrent dialog behavior
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/advancedsettings.cpp
  src/gui/advancedsettings.h
  src/gui/guiaddtorrentmanager.cpp
Labels: GUI
