Repository qbittorrent/qBittorrent, pull requests merged in 2025-07, with the labels that each got.

#22905 Backport changes to v5.1.x branch
  cmake/Modules/CheckPackages.cmake
  src/base/search/searchpluginmanager.cpp
  src/gui/mainwindow.cpp
  src/gui/programupdater.cpp
  src/gui/programupdater.h
  src/gui/uithemecommon.h
  src/gui/uithemedialog.cpp
  src/gui/uithemesource.cpp
  src/webui/api/appcontroller.cpp
Labels: Backport

#22915 WebUI: Fix hiding of filters toolbar
  src/webui/www/private/css/style.css
  src/webui/www/private/scripts/client.js
Labels: WebUI

#22916 WebUI: Improve search page experience on mobile
  src/webui/www/private/views/search.html
Labels: WebUI, Search engine

#22919 WebUI: Limit window sizes to viewport size
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
Labels: WebUI

#22947 WebUI: Fix footer left alignment
  src/webui/www/private/index.html
Labels: WebUI

#22958 Modify `CategoryOptions` serialization to JSON
  WebAPI_Changelog.md
  src/base/bittorrent/categoryoptions.cpp
  src/webui/webapplication.h
Labels: Core, WebAPI

#22967 Add option to make progress bar to follow torrent state color
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/progressbarpainter.cpp
  src/gui/progressbarpainter.h
  src/gui/transferlistdelegate.cpp
Labels: Look and feel, GUI

#22953 Reannounce DHT when reannouncing all trackers
  src/gui/transferlistwidget.cpp
  src/webui/api/torrentscontroller.cpp
Labels: GUI, WebAPI

#22976 Add option to disable torrent state colors
  src/base/preferences.cpp
  src/base/preferences.h
  src/gui/optionsdialog.cpp
  src/gui/optionsdialog.ui
  src/gui/transferlistdelegate.cpp
  src/gui/transferlistdelegate.h
  src/gui/transferlistmodel.cpp
  src/gui/transferlistmodel.h
  src/gui/transferlistwidget.cpp
Labels: Look and feel, GUI

#22954 WebUI: Support reannouncing individual trackers
  WebAPI_Changelog.md
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/index.html
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI

#22920 WebUI: Allow closing dialogs with Escape key
  src/webui/www/private/confirmfeeddeletion.html
  src/webui/www/private/confirmruleclear.html
  src/webui/www/private/confirmruledeletion.html
  src/webui/www/private/confirmtrackerdeletion.html
  src/webui/www/private/download.html
  src/webui/www/private/scripts/client.js
  src/webui/www/private/upload.html
Labels: WebUI

#22945 WebUI: Apply cache id to all loaded resources
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/scripts/monkeypatch.js
  src/webui/www/private/scripts/prop-files.js
  src/webui/www/private/scripts/prop-peers.js
  src/webui/www/private/scripts/prop-trackers.js
  src/webui/www/private/scripts/prop-webseeds.js
  src/webui/www/private/scripts/search.js
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
  src/webui/www/private/views/searchplugins.html
  src/webui/www/private/views/torrentcreator.html
Labels: WebUI

#22994 Fix wrong PR linked in WebAPI changelog
  WebAPI_Changelog.md
Labels: Documentation, Hotfix

#23014 Add alternative URL for program update checking
  src/gui/mainwindow.cpp
  src/gui/programupdater.cpp
  src/gui/programupdater.h
Labels: Core

#23025 WebUI: Fix broken CACHEID changes
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/mocha-init.js
  src/webui/www/private/views/rss.html
Labels: WebUI, Hotfix

#23036 GHA CI: fix broken retry when packaging for macOS
  .github/workflows/ci_macos.yaml
Labels: CI

#23037 Revise command-line show message condition
  src/app/main.cpp
Labels: Core

#23038 WebUI: migrate away from outdated config in ESLint
  src/webui/www/eslint.config.mjs
  src/webui/www/private/scripts/client.js
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/speedlimit.html
  src/webui/www/private/views/preferences.html
Labels: WebUI
