Repository qbittorrent/qBittorrent, pull requests merged in 2025-08, with the labels that each got.

#23019 Migrate away from deprecated API on MacOS
  src/gui/CMakeLists.txt
  src/gui/desktopintegration.cpp
  src/gui/macutilities.h
  src/gui/macutilities.mm
Labels: OS: macOS, GUI

#23049 WebUI: use secure random number generator for generating random port
  src/webui/www/private/views/preferences.html
Labels: WebUI

#23048 Use source URL for search plugins
  src/base/search/searchpluginmanager.cpp
Labels: Search engine

#23056 WebUI: Fix editing/creating category
  src/webui/www/private/newcategory.html
Labels: WebUI, Hotfix

#23058 GHA CI: Disable the hardened runtime in the codesigning workflow for macOS
  .github/workflows/ci_macos.yaml
Labels: OS: macOS, CI

#23059 Migrate away from deprecated methods for setting the standard application on macOS
  src/base/utils/os.cpp
  src/base/utils/os.h
  src/gui/macutilities.h
  src/gui/macutilities.mm
  src/gui/optionsdialog.cpp
Labels: OS: macOS

#23077 WebUI: use static method for getting time
  src/webui/www/private/scripts/dynamicTable.js
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#23076 WebUI: prefer prefix increment operator
  src/webui/www/private/rename_files.html
  src/webui/www/private/scripts/monkeypatch.js
  src/webui/www/private/scripts/rename-files.js
  src/webui/www/private/views/preferences.html
  src/webui/www/private/views/rss.html
  src/webui/www/private/views/rssDownloader.html
Labels: WebUI, Code cleanup

#22963 WebUI: Support editing tracker tier
  WebAPI_Changelog.md
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/edittracker.html
  src/webui/www/private/scripts/prop-trackers.js
Labels: WebUI, WebAPI

#23110 WebUI: enforce using prefix increment/decrement operators via ESLint
  src/webui/www/eslint.config.mjs
  src/webui/www/package.json
Labels: WebUI

#23083 Improve parsing of HTTP headers
  src/base/http/requestparser.cpp
  src/base/http/requestparser.h
  src/base/utils/bytearray.cpp
  src/base/utils/bytearray.h
  test/testutilsbytearray.cpp
Labels: Core

#23085 WebAPI: Omit file names in `parseMetadata` response
  WebAPI_Changelog.md
  src/webui/api/torrentscontroller.cpp
  src/webui/www/private/scripts/client.js
Labels: Hotfix, WebAPI

#23109 WebUI: replace callback with promise chaining
  src/webui/www/private/scripts/cache.js
  src/webui/www/private/views/confirmdeletion.html
  src/webui/www/private/views/preferences.html
Labels: WebUI

#23120 Fix typo
  src/base/http/types.h
Labels: WebAPI

#23098 Add status bar menu with DL/UL display on macOS
  src/gui/CMakeLists.txt
  src/gui/macosstatusitem/itemview.h
  src/gui/macosstatusitem/itemview.mm
  src/gui/macosstatusitem/statusitem.h
  src/gui/macosstatusitem/statusitem.mm
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: OS: macOS, GUI

#23165 WebAPI: Remove outdated TODO
  src/webui/api/torrentscontroller.cpp
Labels: WebAPI
